<link rel="stylesheet" href="style/style.css" />
<div class="part" id="volunteering">
	<h1>Books</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://www.mono-project.com/">The Mono Handbook</a></h2>
				<h3 class="when"><span class="dtstart dtend">2003</span></h3>
				<h4 class="title summary">Co-Author</h4>
			</div>
			<div class="description">
				<p>
					The .NET platform is an important computer technology platform which a large set of programming languages targeting it — including:
					C#,
					F#,
					IronPython,
					IronRuby,
					J#,
					JScript .NET,
					Scala,
					and many others.
				</p>
				<p>
					Mono was the first open-source implementation of .NET.
					(At the time, Microsoft's implementation of .NET was still closed-source.)
				</p>
				<p>
					<em>The Mono Handbook</em> is a guide to the Mono runtime, related tools, libraries, and .NET itself, developed by the Mono team.
					(At the time, I was part of the Mono team.)
				</p>
				<p>
					I co-authored "The Mono Handbook", writing the GTK#, GNOME# and Rsvg# chapters.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
