<link rel="stylesheet" href="style/style.css" />
<div class="part" id="education">
	<h1>Education</h1>
	<div class="part-content">

		<section class="education-source">
			<h2 id="education-sfu" itemprop="alumniOf" itemtype="http://schema.org/EducationalOrganization"><a href="http://www.sfu.ca/"><abbr title="Simon Fraser University">SFU</abbr></a></h2>
			<h3><abbr title="Bachelor of Science">BSc</abbr></h3>
			<h4>Major in Computer Science</h4>
			<p>
				From <span class="vcard"><span class="nickname">SFU</span> (<span class="org">Simon Fraser University</span>) &lt;<a class="url" rel="nofollow" href="http://www.sfu.ca/">http://www.sfu.ca/</a>&gt;</span> I have attained a BSc with a major in Computer Science (in May 2000). But although my education focused on Computer Science, it certainly was not restricted to it. My education was also directed heavily in Mathematics, Physics, Chemistry, and a variety of Art related fields.
			</p>
			<p>
				My Computer Science education specialized in various
				Multimedia topics (ranging from 2D &amp; 3D graphics, sound &amp; video)
				and in Usability &amp; HCI (ranging from cognitive psychology, design methodologies, guidelines, standards, and patterns adherence, human-computer interaction, information architecture, interaction design, prototyping, usability evaluations, and user &amp; task analysis).
			</p>
			<p>
				My <strong>computer science &amp; engineering</strong> related classes included such topics as:
				user interface design,
				multimedia systems,
				computer graphics,
				computer animation,
				model-based computer vision,
				designing programming languages,
				social implications of computerization in society,
				theoretical and practical aspects/problems of operating systems &amp; their design,
				data structures &amp; algorithms,
				theoretical and practical issues/problems relating to data communications and networking,
				low level computer hardware architecture,
				digital and computer design (laboratory),
				digital circuit design,
				data &amp; program abstraction,
				database systems &amp; structures,
				event driven programming,
				object oriented application design,
				and formal software engineering analysis, design, &amp; processes.
			</p>
			<p>
				My <strong>math</strong> related classes included such topics as: discrete mathematics, numerical analysis, linear algebra, complex variables, differential geometry, applied algebraic systems, calculus, vector calculus, multi-dimensional calculus, differential equations, analysis, and abstract algebra, among others.
			</p>
			<p>
				My <strong>science</strong> related classes included such topic as: thermodynamics, electro-magnetics, organic chemistry, and Newtonian physics, among others.
			</p>
			<p>
				My <strong>arts</strong> related topics included such topics as: electro-acoustic music, 3D computer generated human animation, essay writing, poetry, linguistics, philosophy, and art history.
			</p>
		</section>



		<section class="education-source">
			<h2>Self-Directed Studies (while at SFU)</h2>
			<p>
				My education was not restricted to what was taught in the classroom. In fact, the great majority of the knowledge and skills were attained through self-directed and self-motivated studies on my own time. Most the libraries &amp; languages I know are a result of self directed study. Also, I usually extended my education, on what was learned in class, through self directed study.
			</p>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
