<link rel="stylesheet" href="style/style.css" />
<br /><br /><br /><br />
<div class="part">
	<h1>Industry Impact</h1>
	<p>
		I have practiced my craft for decades.
		And have made some contributions to the industry as a whole.
	</p>
	<p>
		My contributions have been separated into sections.
	</p>
	<nav class="menu">
		<ul>
			<li>
				<a href="#standards">Standards</a>
			</li>
			<li>
				<a href="#books">Books</a>
			</li>
			<li>
				<a href="#open_content">Open Content</a>
			</li>
			<li>
				<a href="#open_source_applications">Open Source Apps</a>
			</li>
			<li>
				<a href="#judge">Judge</a>
			</li>
			<li>
				<a href="#recent_work">Recent Work</a>
			</li>
			<li>
				<a href="#talks">Talks</a>
			</li>
		</ul>
	</nav>
</div>
<br /><br /><br /><br />
