<link rel="stylesheet" href="style/style.css" />
<div class="part" itemscope="1" itemtype="http://schema.org/Review" style="margin-top:20px;margin-bottom:70px;">
	<address class="vcard" itemprop="itemReviewed author" itemscope="1" itemtype="http://schema.org/Person" itemref="education-sfu">
		<h1><a rel="author" class="fn url" itemprop="url" href="http://changelog.ca/"><span class="given-name" itemprop="givenName">Charles</span> <span class="additional-name" itemprop="additionalName">Iliya</span> <span class="family-name" itemprop="familyName">Krempeaux</span>, <span class="honorific-suffix" itemprop="honorificSuffix">B.Sc.</span></a></h1>
		<h2><span class="locality">Vancouver</span>, <span class="region">BC</span></h2>
		<h3>Contact Info: <a id="e" class="email" href="mailto:cikrempeaux@gmail.com">cikrempeaux@gmail.com</a>    <div style="float:right;">LinkedIn: <a href="http://ca.linkedin.com/in/charlesiliyakrempeaux">ca.linkedin.com/in/charlesiliyakrempeaux</a></div></h3>
	</address>

	<p style="text-align:center;" itemprop="reviewBody">

		Very experienced
		Senior Principal Software Engineer &amp; Software Architect
		<br />
		with 25 years industry experience
		<br />
		and 30 years programming experience.
	</p>

	<p style="text-align:center;" itemprop="reviewBody">
		Experienced Engineering Manager &amp; Engineering Director.
	</p>

	<p style="text-align:center;" itemprop="reviewBody">
		Experienced Product Manager &amp; Product Director.
	</p>

	<p style="text-align:center;" itemprop="reviewBody">
		Experienced Executive — CTO &amp; CEO.
	</p>

	<p style="text-align:center;" itemprop="reviewBody">
		Experienced Board Member — Director &amp; Chairman.
	</p>

	<p style="text-align:center;" itemprop="reviewBody">
		Experienced Advisor.
	</p>

	<p style="text-align:center;">
		This resume was up to date on June 2023.
	</p>

	<nav class="menu">
		<ul>
			<li>
				<a href="#summary">Summary</a>
			</li>
			<li>
				<a href="#work_history">Work History</a>
			</li>
			<li>
				<a href="#technical_skills">Technical Skills</a>
			</li>
			<li>
				<a href="#education">Education</a>
			</li>
			<li>
				<a href="#industry_impact">Industry Impact</a>
			</li>
		</ul>
	</nav>

</div> <!-- class="part" -->
