<link rel="stylesheet" href="style/style.css" />
<div class="part" id="volunteering">
	<h1>Judge</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="https://betakit.com/launch-academy-hosting-blockchain-hackathon-on-october-21/">Blockchain Decentralized Database Hackathon</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2017-10-21">October 21st, 2017</abbr>-<abbr class="dtend" title="2017-10-22">October 22nd, 2017</abbr></h3>
				<h4 class="title summary">Judge</h4>
			</div>
			<div class="description">
				<p>
					The <em>Blockchain Decentralized Database Hackathon</em> is a hackathon created by
					Bluzelle, focused on solving specific classes of problems using
					<em>distributing computing</em>,
					<em>blockchain</em>,
					<em>cryptocurrencies</em>,
					etc.
				</p>
				<p>
					I was invited to be a judge at the <em>Blockchain Decentralized Database Hackathon</em> in Vancouver.
				</p>
			</div>
		</section>



		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://ai.hackathon.com/">Global AI Hackathon (Vancouver)</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2017-06-23">June 23rd, 2017</abbr>-<abbr class="dtend" title="2017-06-25">June 25th, 2017</abbr></h3>
				<h4 class="title summary">Judge</h4>
			</div>
			<div class="description">
				<p>
					The <em>Global AI Hackathon</em> is a hackathon focused on
					solving specific classes of problems using
					<em>artificial intelligence</em> (<abbr title="artificial intelligence">AI</abbr>),
					<em>machine learning</em>,
					<em>data science</em>,
					<em>software development</em>,
					<em>product development</em>,
					(which may include specific techniques such as
					<em>neural networks</em>, and
					<em>deep learning</em>)
					incorporated into
					<em>bots</em>,
					<em>mobile applications</em>,
					<em>games</em>,
					<em>web applications</em>,
					etc.
				</p>
				<p>
					I was invited to be a judge at the <em>Global AI Hackathon</em> in Vancouver.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
