<link rel="stylesheet" href="style/style.css" />
<div class="part" id="volunteering">
	<h1>Open Source Applications</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">GreatApe</h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01">2018</abbr>-Present</h3>
				<h4 class="title summary">Senior Product Researcher &amp; Senior Product Manager</h4>
			</div>
			<div class="description">
				<p>
					GreatApe is a social-media networking software focused on live audio and video conversations.
				</p>
				<p>
					GreatApe is made for the Fediverse, and implements the Fediverse and social-web technology stack — acct-URI, ActivityPub, ActivityStreams, WebFinger, etc.
				</p>
				<p>
					I am the Product Researcher &amp Product Manager for GreatApe.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://showinabox.tv/">Show in a Box</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2007">2007</abbr>-<abbr class="dtend" title="2008">2008</abbr></h3>
				<h4 class="title summary">Lead Software Engineer</h4>
			</div>
			<div class="description">
				<p>
					Show in a Box is a (largely) volunteer build open source solution for Internet TV, video blogs, and video podcastings.
				</p>
				<p>
					Build on WordPress, Show in a Box is a collection of WordPress plugins and WordPress themes, designed to turn WordPress into a Online Video platform.
				</p>
				<p>
					I was lead software engineer on the project.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
