<link rel="stylesheet" href="style/style.css" />
<div class="part" id="volunteering">
	<h1>Open Content</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">Netscape</h2>
				<h3 class="when"><span class="dtstart">1997</span>-<span class="dtend">2000</span></h3>
				<h4 class="title summary">Editor</h4>
			</div>
			<div class="description">
				<p>
					I worked as an <strong>editor</strong> on <strong>Netscape</strong>'s (and now AOL Time Warner's) Open Directory Project (also known as "dmoz").
				</p>
				<p>
					My editing role included the creation of new content; approving of (or disapproving of) submitted content; and searching for new content; among other things.
					My work on this project is used by Corporations such as: Netscape, AOL, Google, Lycos, and many many others.
					(Which were famous and well-known tech companies of that era.)
				</p>
				<p>
					This was during an era of the Web when the problem of <em>searching</em> the Web hadn't been solved yet — during the surfing-the-web era.
					Where human curated directories of references to web-sites and web-pages were still important.
				</p>
				<p>
					<strong>Netscape</strong> was at the time one of the most famous companies on the Web
					—
					being the company behind the most popular web-browser at the time.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
