<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Open Source Libraries</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://github.com/reiver">Go open-source packages</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2013-06-01">June 2013</abbr>-<abbr class="dtend">Present</abbr></h3>
				<h4 class="title summary">Senior Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					I have been writting and releasing open-source libraries for the <strong>Go programming language</strong> since shortly after I started programming in Go in June 2013.
				</p>
				<p>
					Currently, I have released hundreds of them.
					But some highlights include:
				</p>
				<ul>
					<li>Concurrency and Parallelism
						<ul>
							<li>a Go implementation of Erlang's and the <abbr title="Open Telecom Platform">OTP</abbr>'s <strong>supervision tree</strong></li>
						</ul>
					</li>
					<li>Data Formats
						<ul>
							<li>a Go implementation of the <strong>JSON</strong> data format
								<ul>
									<li>(This is meant to be an alternative to Go's built-in "encoding/json" package.)</li>
								</ul>
							</li>
							<li>a Go implementation of the <strong>Unicode UTF-8</strong> data format
								<ul>
									<li>(This is meant to be an alternative to Go's built-in "utf8" package.)</li>
								</ul>
							</li>
							<li>a Go implementation of the <strong>twtxt</strong> data format</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>Monads
						<ul>
							<li>a Go implementation of <strong>optional types</strong> — also known as <strong>option types</strong> and <strong>maybe types</strong></li>
							<li>a Go implementation of <strong>nullable optional types</strong> — also known as <strong>option types</strong> and <strong>maybe types</strong></li>
							<li>a Go implementation of <strong>expiring optional types</strong> — also known as <strong>option types</strong> and <strong>maybe types</strong> — which is useful for dealing with caching and cache expiration</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>Natural Language Processing (<abbr title="Natural Language Processing">NLP</abbr>)
						<ul>
							<li>A Go implementation of the <strong>Porter Stemming algorithm</strong>, including the 'departures'</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>Network Protocols
						<ul>
							<li>a Go implementation of the <strong>finger</strong> protocol</li>
							<li>a Go implementation of the <strong>gemini</strong> protocol</li>
							<li>a Go implementation of the <strong>mercury</strong> protocol</li>
							<li>a Go implementation of the <strong>telnet</strong> protocol</li>
							<li>a Go implementation of the (secure) <strong>telnets</strong> protocol</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>Social Webn
						<ul>
							<li>a Go implementation of the <strong>Mastodon API</strong></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>Testing
						<ul>
							<li>a Go package for producing <em>arbitrary</em> data of different types to help with testing</li>
							<li>A Go package for creating "middleware" for Go's built-in "database/sql" package</li>
						</ul>
					</li>
				</ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://skinnymvc.com/">SkinnyMVC</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2009-06">2009</abbr>-<abbr class="dtend" title="2011-10">2011</abbr></h3>
				<h4 class="title summary">Senior System Architect</h4>
			</div>
			<div class="description">
				<p>
					SkinnyMVC is an open source, light-weight, easy to learn, "skinny" development framework for PHP that enables the developer to implement the MVC architectural pattern, while maintaining maximum flexibility and performance of the application.
				</p>
				<p>
					I was a core engineer &amp; architect on the team developing SkinnyMVC.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://www.mono-project.com/">Mono</a></h2>
				<h3 class="when"><span class="dtstart">2002</span>-<span class="dtend">2003</span></h3>
				<h4 class="title summary">Software Engineer</h4>
			</div>
			<div class="description">
				<p>
					Mono is an open source implementation of Microsoft's .NET Framework based on the ECMA standards for C# and the Common Language Runtime.
				</p>
				<p>
					I contributed to the development of the GTK+ and GNOME .NET bindings.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
