<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Open Source Libraries</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://skinnymvc.com/">SkinnyMVC</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2009-06">2009</abbr>-<abbr class="dtend" title="2011-10">2011</abbr></h3>
				<h4 class="title summary">Senior System Architect</h4>
			</div>
			<div class="description">
				<p>
					SkinnyMVC is an open source, light-weight, easy to learn, "skinny" development framework for PHP that enables the developer to implement the MVC architectural pattern, while maintaining maximum flexibility and performance of the application.
				</p>
				<p>
					I was a core engineer &amp; architect on the team developing SkinnyMVC.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://www.mono-project.com/">Mono</a></h2>
				<h3 class="when"><span class="dtstart">2002</span>-<span class="dtend">2003</span></h3>
				<h4 class="title summary">Software Engineer</h4>
			</div>
			<div class="description">
				<p>
					Mono is an open source implementation of Microsoft's .NET Framework based on the ECMA standards for C# and the Common Language Runtime.
				</p>
				<p>
					I contributed to the development of the GTK+ and GNOME .NET bindings.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
