<link rel="stylesheet" href="style/style.css" />
<div class="part" id="recent_work">
	<h1>Recent Work</h1>

	<div class="part-content">

			<section>
				<h2>#SpaceHost</h2>
				<p>
					#SpaceHost provides fully-managed hosting for the Fediverse.
					Including hosting popular Fediverse software, such as: Akkoma, Castopod, Firefish, Friendica, Gitea, Kbin, Lemmy, Mastodon, Owncast, PeerTube, Pixelfed, Pleroma, and more.
				</p>
			</section>


			<section>
				<h2>Koho</h2>
				<p>
					Koho provides a modern, mobile banking experience to Canadians,
					through a rich and powerful mobile first experience, and a Visa card.
				</p>
				<p>
					<a rel="nofollow" href="https://www.koho.ca/">https://www.koho.ca/</a>
				</p>
			</section>


			<section>
				<h2>Koho</h2>
				<p>
					Koho provides a modern, mobile banking experience to Canadians,
					through a rich and powerful mobile first experience, and a Visa card.
				</p>
				<p>
					<a rel="nofollow" href="https://www.koho.ca/">https://www.koho.ca/</a>
				</p>
			</section>


			<section>
				<h2>Electronic Arts, (internal) Platform</h2>
				<p>
					Electronic Arts (EA) is a well-known video game company.
				</p>
				<p>
					Internally EA has a set reusable and often highly scalable technologies for web-based applications and in-game content, to be used by the various delivery teams.
				</p>
				<p>
					<a rel="nofollow" href="https://www.ea.com/">https://www.ea.com/</a>
				</p>
			</section>


			<section>
				<h2>TruVerify</h2>
				<p>
					Using e-mail addresses and social network accounts to identify users has become a standard practice on the Internet.
					However, verifying user attributes such as <em>name, gender, age, location and phone number</em>, is at best problematic.
					Self-asserted data is not always reliable.
				</p>
				<p>
					TruVerify is a system which is able to verify users attributes, such as name, gender, age, location and phone number, from of users identified by e-mail address or social network account.
				</p>
				<p>
					<a rel="nofollow" href="https://www.trulioo.com/en/product#truverify">https://www.trulioo.com/en/product#truverify</a>
				</p>
			</section>


			<section>
				<h2>go-porterstemmer</h2>
				<p>
					Natural language processing (<abbr title="natural language processing">NLP</abbr>),
					a field of computer science, artificial intelligence, machine learning and linguistics,
					is concerned with the interactions between computers and human languages.
				</p>
				<p>
					One technique used in <abbr title="natural language processing">NLP</abbr> is <em>stemming</em>.
					Stemming is the process of reducing inflected or sometimes derived words to a (common) stem.
				</p>
				<p>
					The Porter Stemming algorithm is a stemming algorithm for the English language.
				</p>
				<p>
					go-porterstemmer is a native Go clean room implementation of the Porter Stemming algorithm,
					released as open source.
				</p>
				<p>
					<a href="http://github.com/reiver/go-porterstemmer">http://github.com/reiver/go-porterstemmer</a>
				</p>
			</section>


			<section>
				<h2>TruDetect (formerly called ProfilePlus)</h2>
				<p>
					Online social networks have become an important part of the Internet.
					Not only have they become leading communication mediums,
					but they have also become leading providers of identity.
					With this, comes (attempts at) commit fraud, with "fake" social network profiles and presences.
				</p>
				<p>
					TruDetect (formerly called ProfilePlus) is a system which is able to detect "fake" social network profiles, on social networks such as Facebook.
				</p>
				<p>
					<a rel="nofollow" href="https://www.trulioo.com/en/product#trudetect">https://www.trulioo.com/en/product#trudetect</a>
				</p>
			</section>


			<section>
				<h2>HootSuite</h2>
				<p>
					HootSuite is a very popular enterprise class social media dashboard, that allows users and enterprises to
					manage multiple social network profiles,
					schedule messages and tweets,
					track brand mentions,
					and analyze social media traffic.
				</p>
				<p>
					HootSuite supports social network integrations for Twitter, Facebook, LinkedIn, Google+, Foursquare, Mixi, MySpace, Ping.fm, and WordPress;
					as well as supports Instagram, Tumblr, YouTube, Trendspottr, Constant Contact. Digg, Flickr, Get Satisfaction, and InboxQ through HootSuite Apps.
				</p>
				<p>
					<a rel="nofollow" href="http://hootsuite.com/">http://hootsuite.com/</a>
				</p>
			</section>


			<section>
				<h2>Ow.ly</h2>
				<p>
					Ow.ly is a popular, high performance, high availability, fault tolerant URL shortener and image &amp; file hosting service,
					closely associated with and with two-way tie-ins into HootSuite, but which can also be used as a standalone product.
				</p>
				<p>
					<a rel="nofollow" href="http://ow.ly/">http://ow.ly/</a>
				</p>
			</section>


			<section>
				<h2>Licensed Gaming</h2>
				<p>
					Licensed gaming in British Columbia must meet stringent regulations of the government of British Columbia.
					My team (which I was Director of Engineering over) created a online game, that was able to "run" as both a free money version and a real money version,
                            		and meet the stringent regulations set by the government of British Columbia.
				</p>
				<p>
					(An NDA prevents me from providing more details.)
				</p>
			</section>


			<section>
				<h2>Social Gaming Ad Network</h2>
				<p>
					The social gaming space, and in particular social gaming on Facebook, has become become an emerging billion dollar industry. Large social gaming developers such as Zynga, Playdom, and Electronic Arts as well as a "zoo" of smaller social game development companies are driving and fueling the growth of social media giant Facebook, with others such as MySpace, hi5, and others looking to also capture a portion of this industry.
				</p>
				<p>
					Monetization of these games comes in many forms, but often revolve around virtual currencies. One avenue for this montization is the usage in-game online ad space sold via a CPA business model. Conversions from these online ads results in virtual currencies being awarded to the game player. (Which can be used by the game player to purchase virtual goods and other items.)
				</p>
				<p>
					The social gaming ad network my team (which I was Director of Engineering over) created for our undisclosed client allows social game developers, on Facebook and other social networks, to monetize their game's user base through online ads whose conversions results in virtual currency being "deposited" in the game player's account.
				</p>
				<p>
					(An NDA prevents me from providing more details.)
				</p>
			</section>


			<section>
				<h2>SBBC Connector</h2>
				<p>
					Small Business BC (SBBC) is a not-for-profit society which is a key resource centre for business information and services, in British Columbia, by providing information brokering services, seminars, and consultations.
				</p>
				<p>
					SBBC Connector is a <em>data mining</em> tool and search engine used to give users of the Small Business BC website access to many of their internal databases.
				</p>
				<p>
					<a rel="nofollow" href="http://www.smallbusinessbc.ca/">http://www.smallbusinessbc.ca/</a>
				</p>
			</section>


			<section>
				<h2>SkinnyMVC</h2>
				<p>
					SkinnyMVC is a light-weight, easy to learn, "skinny" development framework for PHP that enables the developer to implement the MVC architectural pattern, while maintaining maximum flexibility and performance of the application.
				</p>
				<p>
				<a href="http://skinnymvc.com/">http://skinnymvc.com/</a>
				</p>
			</section>


			<section>
				<h2>Petro-Canada, Demurrage</h2>
				<p>
					Petro-Canada, now owned by Suncor Energy, is a large Canadian oil company.
				</p>
				<p>
					Demurrage is a demurraging application created for Petro-Canada.
				</p>
			</section>


			<section>
				<h2>SocialGiving</h2>
				<p>
					Pinc Productions is a creator of multi-currency charitable giving technologies and platforms, focusing on web-based solutions, online video, and social networking.
				</p>
				<p>
					SocialGiving is Pinc Productions' charitable giving platform designed for Ning as a "network widget", to be used in social networks which support OpenSocial.
				</p>
				<p>
					<a rel="nofollow" href="http://pincgiving.com/">http://pincgiving.com/</a>
				</p>
			</section>


			<section>
				<h2>Navarik Inspection</h2>
				<p>
					Navarik is a producer of web-based solutions for the shipping business.  And has found much success in the petroleum industry.
				</p>
				<p>
					Navarik Inspection is web-based cargo inspection system that helps petroleum and energy firms standardize your nomination and inspection workflows across the company, and analyze cargo quantity and quality (CQQ), including loss and trending, more easily and accurately.
				</p>
				<p>
					<a rel="nofollow" href="http://www.navarik.com/products/navarik-inspection">http://www.navarik.com/products/navarik-inspection</a>
				</p>
			</section>


			<section>
				<h2>Show in a Box</h2>
				<p>
					Show in a Box is a (largely) volunteer build open source solution for Internet TV, video blogs, and video podcastings.
				</p>
				<p>
					Built on WordPress, Show in a Box is a collection of WordPress plugins and WordPress themes, designed to turn WordPress into a Online Video platform.
				</p>
				<p>
					<a rel="nofollow" href="http://showinabox.tv/">http://showinabox.tv/</a>
				</p>
			</section>


			<section>
				<h2>Top Producer Blogs</h2>
				<p>
					Top Producer provides leading solutions for the real estate industry.  Among those solutions is Top Producer Blogs.
				</p>
				<p>
					Top Producer Blogs is a highly scalable fork of WordPress MU (WPMU) tightly integrated with Top Producer's other products.  Enhanced to host hundreds of thousands of blogs.
				</p>
				<p>
					<a rel="nofollow" href="http://www.topproducer.com/">http://www.topproducer.com/</a>
				</p>
			</section>


			<section>
				<h2>ChaCha AdAgent</h2>
				<p>
					ChaCha is a "people-powered" search engine.  A search engine that features human guides.  With the click of a button a user can talk to a human being and have them help them find what they are looking for.
				</p>
				<p>
					ChaCha Adagent is a cost per click advertising system that allows advertisers to reach the ChaCha search audience on a performance basis.
				</p>
				<p>
					<a rel="nofollow" href="http://adagent.chacha.com/">http://adagent.chacha.com/</a>
				</p>
			</section>


			<section>
				<h2>Accipiter AdMarket</h2>
				<p>
					Accipiter Solutions is one of the pioneers in the online ad serving space.  And a dominant player in the ad technology space.
				</p>
				<p>
					Accipiter AdMarket is a globalized advertising marketplace.  Serving the global market.  And processing any of the worlds currencies.  Including USD, CAD, UKP, JPY, and EUR.  Among others.
				</p>
				<p>
					<a rel="nofollow" href="http://accipiter.com/products/admarket.php">http://accipiter.com/products/admarket.php</a>
				</p>
			</section>


			<section>
				<h2>Bell Viritual Marketplace</h2>
				<p>
					Bell Canada is Canada's largest communications company. Part of Bell Canada's offerings is the Bell Virtual Marketplace.
				</p>
				<p>
					Bell Virtual Marketplace is one of Canada's premier advertising networks and advertising technology providers. It services top Canadian websites and portals; including Sympatico MSN (MSN Canada).
				</p>
				<p>
					<a rel="nofollow" href="http://www.marketplace.bell.ca/">http://www.marketplace.bell.ca/</a>  (English)
					<br/>
					<a rel="nofollow" href="http://www.marche.bell.ca/">http://www.marche.bell.ca/</a>  (French)
				</p>
			</section>


			<section>
				<h2>ActiveMarket</h2>
				<p>
					ActiveMarket is a fully branded, private label technology solution enabling publishers to operate their own self-contained advertising marketplace. Ideal for publishers with strong brands and leadership in their own industry, vertical, or geographic region.
				</p>
				<p>
					The ActiveMarket technology is a high performance, industry leading, high availability, fault tolerant, ad serving system which can handle upwards of 1000 hits per second.  It has sub-systems for fraud detection, early warning problem detection, health monitoring, self healing, optimization, quality control, accounting, reporting, and e-commerce.
				</p>
				<p>
					<a rel="nofollow" href="http://www.activemarket.com/">http://activemarket.com/</a>
				</p>
			</section>


			<section>
				<h2>BidClix Adserving Technology</h2>
				<p>
					BidClix's Ad Serving Technology is a high performance, industry leading, high performance, high availability, fault tolerant, ad serving system which can handle upwards of 1000 hits per second.
				</p>
				<p>
					This ad serving technology is currently used by about half of the leading websites, portals, and ISP's.  (Although an NDA prevents listing most of them.)
				</p>
				<p>
					<a rel="nofollow" href="http://bidclix.com/">http://bidclix.com/</a>
				</p>
			</section>


			<section>
				<h2>AcuityBox</h2>
				<p>
					AcuityBox is software used for eye acuity examination.
				</p>
				<p>
					AcuityBox is a Linux application written in C#, and utilizing the GTK# library It is distributed on a live (bootable) Linux CD, that boots straight into the Acuity Box program (which removes many potential problems and complications due to using a computer system).
				</p>
			</section>


			<section>
				<h2>Old Projects...</h2>
				<p>
					Projects listed here are limited to work done very recently (for reasons of keeping this resume to a reasonable length).
				</p>
				<p>
					Information about older projects will be provided upon request. (Other projects include various web sites, e-commerce sites, applications, and system software.)
				</p>
			</section>


	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
