<link rel="stylesheet" href="style/style.css" />
<div class="part" id="volunteering">
	<h1>Standards</h1>

	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" rel="nofollow" href="https://whatwg.org/">Web Hypertext Application Technology Working Group (WhatWG)</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2005-05">2005</abbr>-<abbr class="dtend" title="2010-08">2010</abbr></h3>
				<h4 class="title summary">Contributor</h4>
			</div>
			<div class="description">
				<p>
					The <strong>Web Hypertext Application Technology Working Group</strong> (<strong><abbr title="Web Hypertext Application Technology Working Group">WHATWG</abbr></strong>) focuses primarily on the development of HTML and APIs needed for Web applications, including <strong>HTML5</strong>.
				</p>
				<p>
					(The <strong><abbr title="Web Hypertext Application Technology Working Group">WHATWG</abbr></strong> was a working-group focused on web-technologies outside of the <strong><abbr title="World Wide Web Consortium">W3C</abbr></strong>.)
				</p>
				<p>
					I contributed to the creation of the now ubiquitous HTML5 — one of the core technologies of the Web and the Internet.
					One of my focuses on was on video on the Web.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
