<link rel="stylesheet" href="style/style.css" />
<div class="part" id="summary">
	<h1>Resume Summary</h1>

	<div class="part-content">

		<section>
			<h2>Highlights</h2>
			<p>
				<strong>31 years</strong> of experience overall.
			</p>
			<ul>
				<li>software engineering &amp; architecture,</li>
				<li>engineering management.</li>
			</ul>
		</section>
		<section>
			<h2>Roles</h2>
			<p>
				<strong>Available for a Software Engineering role.</strong>
			</p>
		</section>
		<section>
			<h2>Well-Known Companies</h2>
			<p>
				Some more <strong>well-known companies</strong> I have associations with:
			</p>
			<ul>
				<li>Bell,</li>
				<li>Electronic Arts (<abbr title="Electronic Arts">EA</abbr>),</li>
				<li>Facebook,</li>
				<li>Hootsuite,</li>
				<li>Koho,</li>
				<li>Microsoft.</li>
			</ul>
		</section>
		<section>
			<h2>Industries</h2>
			<p>
				I have <em>deep knowledge</em> of various <strong>industries</strong>:
			</p>
			<table>
				<tr>
					<td>
						<ul>
							<li>academia,</li>
							<li>advertising,</li>
							<li>analytics,</li>
							<li>artificial intelligence (<abbr title="artificial intelligence">AI</abbr>),</li>
							<li>banking,</li>
							<li>blochchain,</li>
							<li>charity,</li>
							<li>computer,</li>
							<li>construction,</li>
							<li>credit bureau,</li>
							<li>credit card,</li>
							<li>decentralized social media,</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>e-commerce,</li>
							<li>education,</li>
							<li>fashion,</li>
							<li>fediverse,</li>
							<li>financial technology (<abbr title="financial technology">fintech</abbr>),</li>
							<li>freemium,</li>
							<li>government,</li>
							<li>health care,</li>
							<li>licensed gaming,</li>
							<li>Internet TV,</li>
							<li>machine learning,</li>
							<li>marketing,</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>oil and gas,</li>
							<li>online advertising,</li>
							<li>online marketing,</li>
							<li>optometry,</li>
							<li>ophthalmology,</li>
							<li>payments,</li>
							<li>real estate,</li>
							<li>social media,</li>
							<li>social web,</li>
							<li>software-as-a-service (<abbr title="software as a service">SaaS</abbr>)</li>
							<li>software,</li>
							<li>video games.</li>
						</ul>
					</td>
				</tr>
			</table>
		</section>


		<section>
			<h2>Experience</h2>

			<ul>
				<li>
					<span class="standout">31 years</span> programming experience.
				</li>
				<li>
					27 years of industry <span class="standout">Software Engineering</span>, and <span class="standout">System Architecture</span> experience.
				</li>
				<li>
					25 years experience building <span class="standout">Distributed</span> software applications.
				</li>
				<li>
					25 years experience building <span class="standout">Scalable</span> backends.
				</li>
				<li>
					20 years experience <span class="standout">Mentoring</span> and <span class="standout">Training</span> others.
				</li>
				<li>
					<abbr title="2002-2007, 2008-2011, 2012-2013, 2015-2024">18 years</abbr> experience <span class="standout">Recruiting</span> and <span class="standout">Hiring</span>
					and building teams that build great products.
				</li>
				<li>
					<abbr title="since 2012">12 years</abbr> experience as an <span class="standout">Advisor</span> to <span class="standout">startups</span>.
				</li>
				<li>
					<abbr title="since 2012-10-04 to 2023">10 years</abbr> experience <span class="standout">Organizing</span> meetups
					on Machine Learning and Data Science.
				</li>
				<li>
					9 years experience dealing with <span class="standout">Big Data</span>.
				</li>
				<li>
					6 years experience with <span class="standout">Machine Learning</span>, and <span class="standout">Artificial Intelligence</span> (<span class="standout"><abbr title="Artificial Intelligence">AI</abbr></span>).
				</li>
			</ul>
		</section>


		<section>
			<h2>Background</h2>
			<p>
				<abbr title="Bachelor of Science">BSc</abbr> with a formal background in <span class="standout">computer science</span> and <span class="standout">mathematics</span>.
			</p>
			<p>
				Also have an amateur background in
				behavioral sciences,
				evolutionary sciences,
				paleo genetics,
				<!--
				Evolutionary Anthropology,
				Evolutionary Biology,
				Evolutionary Psychology,
				Behavioral Ecology,
				Behavioral Economics,
				Moral Psychology,
				Psychometrics,
				Social Learning,
				Cultural Evolution,
				Computational Neuroscience,
				and
				Synthetic Biology.
				-->
			</p>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
