<link rel="stylesheet" href="style/style.css" />
<div class="part" id="summary">
	<h1>Resume Summary</h1>

	<div class="part-content">

		<section>
			<h2>Highlights</h2>
			<p>
				<strong>31 years</strong> of experience overall.
			</p>
			<ul>
				<li>software engineering &amp; architecture,</li>
				<li>engineering management,</li>
				<li>product research,</li>
				<li>product management,</li>
				<li>executive.</li>
			</ul>
		</section>
		<section>
			<h2>Roles</h2>
			<p>
				Very experienced in these roles:
			</p>
			<table>
				<tr>
					<td valign="top">
						<ul>
							<li><span class="standout">Chief Technology Officer</span> (<span class="standout"><abbr title="chief technology officer">CTO</abbr></span>),</li>
							<li>VP of Engineering,</li>
							<li>Director of Engineering,</li>
							<li>Senior Engineering Manager,</li>
							<li><span class="standout">Senior Principal Software Engineer &amp; Software Architect</span>,</li>
							<li><span class="standout">Advisor</span>,</li>
						</ul>
					</td>
					<td valign="top">
						<ul>
							<li>Director of Product,</li>
							<li><span class="standout">Senior Product Manager</span>,</li>
							<li>Board Member — Director,</li>
							<li>Chairman,</li>
							<li>Chief Executive Officer (<abbr title="chief executive officer">CEO</abbr>).</li>
						</ul>
					</td>
				</tr>
			</table>
			<p>
				<strong>Able to take on any of these roles, as requested or required.</strong>
			</p>
		</section>
		<section>
			<h2>Well-Known Companies</h2>
			<p>
				Some more <strong>well-known companies</strong> I have associations with:
			</p>
			<ul>
				<li>Bell,</li>
				<li>Electronic Arts (<abbr title="Electronic Arts">EA</abbr>),</li>
				<li>Facebook,</li>
				<li>Hootsuite,</li>
				<li>Koho,</li>
				<li>Microsoft.</li>
			</ul>
		</section>
		<section>
			<h2>Industries</h2>
			<p>
				I have <em>deep knowledge</em> of various <strong>industries</strong>:
			</p>
			<table>
				<tr>
					<td>
						<ul>
							<li>academia,</li>
							<li>advertising,</li>
							<li>analytics,</li>
							<li>artificial intelligence (<abbr title="artificial intelligence">AI</abbr>),</li>
							<li>banking,</li>
							<li>blochchain,</li>
							<li>charity,</li>
							<li>computer,</li>
							<li>construction,</li>
							<li>credit bureau,</li>
							<li>credit card,</li>
							<li>decentralized social media,</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>e-commerce,</li>
							<li>education,</li>
							<li>fashion,</li>
							<li>fediverse,</li>
							<li>financial technology (<abbr title="financial technology">fintech</abbr>),</li>
							<li>freemium,</li>
							<li>government,</li>
							<li>health care,</li>
							<li>licensed gaming,</li>
							<li>Internet TV,</li>
							<li>machine learning,</li>
							<li>marketing,</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>oil and gas,</li>
							<li>online advertising,</li>
							<li>online marketing,</li>
							<li>optometry,</li>
							<li>ophthalmology,</li>
							<li>payments,</li>
							<li>real estate,</li>
							<li>social media,</li>
							<li>social web,</li>
							<li>software-as-a-service (<abbr title="software as a service">SaaS</abbr>)</li>
							<li>software,</li>
							<li>video games.</li>
						</ul>
					</td>
				</tr>
			</table>
		</section>


		<section>
			<h2>Experience</h2>

			<ul>
				<li>
					<span class="standout">31 years</span> programming experience.
				</li>
				<li>
					27 years of industry <span class="standout">Software Engineering</span>, and <span class="standout">System Architecture</span> experience.
				</li>
				<li>
					25 years experience building <span class="standout">Distributed</span> software applications.
				</li>
				<li>
					25 years experience building <span class="standout">Scalable</span> backends.
				</li>
				<li>
					20 years experience <span class="standout">Leading</span> and <span class="standout">Managing</span> software development teams and departments.
				</li>
				<li>
					20 years experience <span class="standout">Mentoring</span> and <span class="standout">Training</span> others.
				</li>
				<li>
					<abbr title="2002-2007, 2008-2011, 2012-2013, 2015-2024">18 years</abbr> experience <span class="standout">Recruiting</span> and <span class="standout">Hiring</span>
					and building teams that build great products.
				</li>
				<li>
					16 years experience as a <span class="standout">Technical Director</span>.
				</li>
				<li>
					15 years experience <span class="standout">(co)founding</span> and running Technology and Software Development Companies.
				</li>
				<li>
					13 years experience as a <span class="standout">Senior Product Manager</span>.
				</li>
				<li>
					<abbr title="since 2012">12 years</abbr> experience as an <span class="standout">Advisor</span> to <span class="standout">startups</span>.
				</li>
				<li>
					<abbr title="since 2012-10-04 to 2023">10 years</abbr> experience <span class="standout">Organizing</span> meetups
					on Machine Learning and Data Science.
				</li>
				<li>
					9 years experience dealing with <span class="standout">Big Data</span>.
				</li>
				<li>
					6 years experience with <span class="standout">Machine Learning</span>, and <span class="standout">Artificial Intelligence</span> (<span class="standout"><abbr title="Artificial Intelligence">AI</abbr></span>).
				</li>
			</ul>
			<p>
				Have helped build 10 other people's startups.
				<!--
				VoxLabs,
				CommunityFit,
				Oraan,
				Modus,
				Koho,
				Trulioo,
				HootSuite
				Navarik,
				Thirdi,
				BidClix.
				-->
			</p>
			<p>
				Have founded 13 companies of my own.
				<!--
				#SpaceHost,
				Wealth Ethical,
				SparkScience,
				Railtown,

				ShoutMap,
				49 Research,
				AdFury,
				MakeWordpress,
				Tirebiterz
				WatchLater
				Reptile,
				Osix-OS,
				WFS-FX.
				-->
			</p>
		</section>


		<section>
			<h2>Background</h2>
			<p>
				<abbr title="Bachelor of Science">BSc</abbr> with a formal background in <span class="standout">computer science</span> and <span class="standout">mathematics</span>.
			</p>
			<p>
				Also have an amateur background in
				behavioral sciences,
				evolutionary sciences,
				paleo genetics,
				<!--
				Evolutionary Anthropology,
				Evolutionary Biology,
				Evolutionary Psychology,
				Behavioral Ecology,
				Behavioral Economics,
				Moral Psychology,
				Psychometrics,
				Social Learning,
				Cultural Evolution,
				Computational Neuroscience,
				and
				Synthetic Biology.
				-->
			</p>
		</section>


		<section>
			<h2>Nowadays (Engineering)</h2>
			<p>
				Nowadays when I am taking on a software engineering role —
				I tend to program in the <strong>Go programming language</strong> (<strong>Golang</strong>),
				with some JavaScript programming.
			</p>
			<p>
				(I have been programming in Golang since 2013.)
			</p>
			<p>
				Although I have programmed in many many different programming languages over the decades, and am comfortable learning new programming languages and technologies.
			</p>
			<p>
				(Overall I have been programming for 31 years.)
			</p>
			<p>
				Nowadays the off-the-shelf databases I tend to use are <strong>Postgres</strong> and <strong>SQLite</strong>.
				In the not-too-distant-past I also frequently used MySQL and MongoDB.
			</p>
			<p>
				But I am comfortable learning new database platforms.
				Or even creating a new bespoke database platform from scratch if the need arises — it has before.
			</p>
		</section>

		<section>
			<h2>Nowadays (Management)</h2>
			<p>
				Nowadays when I am taking on a management role —
				it tends to be at <abbr title="a company with 500 or less people">a medium-sized company</abbr>, <abbr title="a company with 100 or less people">a small-sized company</abbr>, or a start-up.
			</p>
			<p>
				(And often helping the company develop from one stage to another stage. I.e., helping start-ups become small-companies, and helping small-companies become medium-companies.)
			</p>
			<p>
				Although there has been some rare times when I have taken on a management role at a large enterprise.
			</p>
			<p>
				Regardless of the management title — I tend to apply my skills in <strong>engineering management</strong>, <strong>product management</strong>, and <strong>project management</strong> to any management role I do.
			</p>
			<p>
				But, of course, being an effective manager requires more than just those skills.
				You need skills in recruiting, hiring, onboarding, training, mentoring, coordination, strategy, vision, direction, leadership, supervision, and many many others.
				You even have to be (some) people's therapist at times.
			</p>
			<p>
				I tend to be hands-on when the company is small enough to allow for it.
				But I also know when to stop, when the company becomes large enough, so that I don't become a bottleneck and block the progress of the work.
			</p>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
