<link rel="stylesheet" href="style/style.css" />
<div class="part" id="talks">
	<h1>Talks</h1>
	<div class="part-content">

		<section class="talk">
			<hgroup>
				<h2>Learn Go In One Day</h2>
				<h3><abbr title="2020-08-09">August 2020</abbr></h3>
				<h4>Golang Vancouver</h4>
			</hgroup>
			<p>
				Taught a workshop at <em>Golang Vancouver</em>, teaching programming in the Go programming language for people who did not know Go.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Top 3 Lessons Learned Using Go For The Last 7 Years</h2>
				<h3><abbr title="2020-07-08">July 2020</abbr></h3>
				<h4>Golang Vancouver</h4>
			</hgroup>
			<p>
				Gave a talk at <em>Golang Vancouver</em> about 3 interesting Go topics from the perspective of someone who has been using Go since 2013.
			</p>
			<p>
				Covered:
			</p>
			<ul>
				<li>cross-platform GUIs in Go,</li>
				<li>advanced technique when creating custom types in Go, and</li>
				<li>writing a Go version of Erlang's OTP from scratch.</li>
			</ul>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Data Science and How It Works on Blockchain</h2>
				<h3><abbr title="2018-10-26">July 2018</abbr></h3>
				<h4>Simon Fraser University (<abbr title="Simon Fraser University">SFU</abbr>) Blockchain</h4>
			</hgroup>
			<p>
				Was an invited panelist at the Simon Fraser University (<abbr title="Simon Fraser University">SFU</abbr>) Blockchain event,
				sponsored by Bluzelle,
				where I and other panelists discussed, debated and answered questions from the organizer and the audience on Data Science and Blockchain.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>How To Become An Entrepreneur</h2>
				<h3><abbr title="2017-10-21">November 2017</abbr></h3>
				<h4>Simon Fraser University (<abbr title="Simon Fraser University">SFU</abbr>) Data Science</h4>
			</hgroup>
			<p>
				Was an invited Seminar Speaker
				where I gave a talk to the Simon Fraser University (<abbr title="Simon Fraser University">SFU</abbr>) Data Science class.
			</p>
			<p>
				This was a very very frank talk where I gave very detailed information and advice on how to become an entrepreneur.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>How To Create A FinTech Startup</h2>
				<h3><abbr title="2017-09-07">September 2017</abbr></h3>
				<h4>Fintech Camp Cluj #1</h4>
			</hgroup>
			<p>
				Was asked to speak at the first "Fintech Camp" in Cluj-Napoca, Romania,
				while I was visiting Romania.
			</p>
			<p>
				Through telling the story of how Koho Financial was created,
				I covered topics such as:
				software development versus product development,
				product development basics,
				unit economics,
				demos versus prototypes,
				startups versus lifestyle companies,
				managing risk,
				c-level roles versus the board of directors,
				fund raising,
				hiring,
				the science of "prestige" (i.e., social learning and cultural evolution),
				creating a startup within a regulatary regime,
				etc etc.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Data Science Panel</h2>
				<h3><abbr title="2015-11-03">November 2015</abbr></h3>
				<h4>University of British Columba, DataSense</h4>
			</hgroup>
			<p>
				Was an invited panelist at the University of British Columba (<abbr title="University of British Columba">UBC</abbr>)
				where I, and the other panelists, debated and answered questions from the organizer and the audience
				on Data Science and the Tech Industry.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Things You Should Know About Having A Career In Tech</h2>
				<h3><abbr title="2015-10-20">October 2015</abbr></h3>
				<h4>Simon Fraser University, Management &amp; Systems Science (<abbr title="Management &amp; Systems Science">MSSC</abbr>)</h4>
			</hgroup>
			<p>
				Was an invited <abbr title="Management &amp; Systems Science">MSSC</abbr> Seminar Speaker
				where I gave a talk to the Simon Fraser University (<abbr title="Simon Fraser University">SFU</abbr>) MSSC class.
			</p>
			<p>
				This was a very very frank talk where I gave very detailed information and advice for having a career in tech.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Machine Learning for Programmers: An Introduction</h2>
				<h3><abbr title="2015-04-30">April 2015</abbr></h3>
				<h4>CodeCore Tech Talks: April 2015</h4>
			</hgroup>
			<p>
				In this talk, directed at both software engineering students and people early on in their software engineering careers,
				I introduced <em>machine learning</em> topics.
				The talk eventually focused on <em>supervised learning</em> using <em>artificial neural networks</em>,
				which were used as an example to introduce
				the necessary <em>linear algebra</em>,
				<em>levels of measurement</em>,
				various <em>encoding</em> methods,
				and various <em>optimization</em> algorithms.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Frontend Science</h2>
				<h3><abbr title="2014-05-24">May 2014</abbr></h3>
				<h4>PolyGlot {Un}Conference 2014</h4>
			</hgroup>
			<p>
				In this talk, directed at software engineers with no background in machine learning or data science,
				I discussed how to take a <em>data-driven</em> and <em>scientific</em> approach to frontend development  with <em>machine learning</em> and <em>bandit algorithms</em>.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Machine Learning, Artificial Intelligence and Data Science</h2>
				<h3><abbr title="2013-05-25">May 2013</abbr></h3>
				<h4>PolyGlot {Un}Conference 2013</h4>
			</hgroup>
			<p>
				In this talk, directed at software engineers with no background in machine learning, <abbr title="artificial intelligence">AI</abbr> or data science,
				I started from the original goal of <abbr title="artificial intelligence">AI</abbr> (to create human-like intelligence),
				and moved to machine learning and its (non-human-like but) useful intelligences,
				and finally to application of machine learning for data science.
			</p>
		</section>


		<section class="talk">
			<hgroup>
				<h2>Self-Organizing Maps</h2>
				<h3><abbr title="2012-12-04">December 2012</abbr></h3>
				<h4>Machine Learning Meetup Group</h4>
			</hgroup>
			<p>
				Self-Organizing Maps (<abbr title="self-organizing map">SOM</abbr>s) are a type of artificial neural network (<abbr title="artificial neural network">ANN</abbr>) that is trained using <em>unsupervised learning</em> techniques.
			</p>
			<p>
				The most well-known type of <abbr title="self-organizing map">SOM</abbr> is the <em>Kohonen map</em>.
				It has uses, such as,
				dimensional reduction,
				visualizing higher dimensional data,
				and
				clustering.
			</p>
			<p>
				<abbr title="self-organizing map">SOM</abbr>s are also found in the brain.
				The most studied place where this is found is in the <em>visual cortex</em>.
				This type of <abbr title="self-organizing map">SOM</abbr>s has been modeled as a <em>Laterally Interconnected Self-Organizing Map</em> (<abbr title="laterally interconnected self-organizing map">LISSOM</abbr>).
			</p>
			<p>
				In this talk I gave an overview of <abbr title="self-organizing map">SOM</abbr>s,
				from <em>Kohonen maps</em> to <abbr title="laterally interconnected self-organizing map">LISSOM</abbr>s, and everything in between.
			</p>
		</section>

	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
