<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Organizer &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Machine Learning Meetup</h2>
				<h3 class="when"><abbr class="dtstart" title="2012-10-04">October 2012</abbr>-<abbr class="dtend" title="2023-02">February 2023</abbr></h3>
				<h4 class="title summary">Organizer</h4>
			</div>
			<div class="description">
				<p>
					The <strong>Machine Learning Meetup</strong> is a meetup group in the Vancouver area with a focus on <em>machine learning</em> and related <em>software engineering</em>, <em>computer science</em> and <em>data science</em> topics.
				</p>
				<p>
					I served as organizer for a decade.
				</p>
				<p>
					Together with the <strong>Data Science Meetup</strong> and the <strong>Learn Data Science Meetup</strong>, I helped turned all three, including the <strong>Machine Learning Meetup</strong>, into the the largest communities for <strong>artificial intelligence</strong> (<strong><abbr title=">artificial intelligence">AI</abbr></strong>), <strong>data science</strong>, and <strong>machine learning</strong> in western Canada.
				</p>
				<p>
					As the <strong>organizer</strong> for the <strong>Machine Learning Meetup</strong> —
				</p>
				<ul>
					<li>I <strong>organized meet-ups</strong>,</li>
					<li>I recruited people to create and give presentations,</li>
					<li>I helped (some) speakers develop their presentations for the meet-up,</li>
					<li>I formed relationships with organizations that could provide space for us to hold meet-ups,</li>
					<li>I scheduled meet-up events,</li>
					<li>I promoted meet-up events,</li>
					<li>I prepared the space that was used to host the meet-up event,</li>
					<li>I was the master-of-ceremonies for the meet-up events,</li>
					<li>I orchestrated the meet-up events,</li>
					<li>I <strong>networked</strong> with people who attened the meet-ups,</li>
					<li>I created (online and in-person) spaces for the community to form,</li>
					<li>I engaged in conversation with the community,</li>
					<li>I moderated online community spaces,</li>
					<li>I recruited co-organizers.</li>
				</ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Data Science Meetup</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-03-03">March 2013</abbr>-<abbr class="dtend" title="2023-02">February 2023</abbr></h3>
				<h4 class="title summary">Organizer</h4>
			</div>
			<div class="description">
				<p>
					I founded what became the largest data science communities in westen Canada — the <strong>Data Science Meetup</strong> and the <strong>Learn Data Science Meetup</strong>.
				</p>
				<p>
					I served as organizer for a decade.
				</p>
				<p>
					Together with the <strong>Learn Data Science Meetup</strong> and the <strong>Machine Learning Meetup</strong>, I helped turned all three, including the <strong>Data Science Meetup</strong>, into the the largest communities for <strong>artificial intelligence</strong> (<strong><abbr title=">artificial intelligence">AI</abbr></strong>), <strong>data science</strong>, and <strong>machine learning</strong> in western Canada.
				</p>
				<p>
					As the <strong>organizer</strong> for the <strong>Data Science Meetup</strong> —
				</p>
				<ul>
					<li>I <strong>organized meet-ups</strong>,</li>
					<li>I recruited people to create and give presentations,</li>
					<li>I helped (some) speakers develop their presentations for the meet-up,</li>
					<li>I formed relationships with organizations that could provide space for us to hold meet-ups,</li>
					<li>I scheduled meet-up events,</li>
					<li>I promoted meet-up events,</li>
					<li>I prepared the space that was used to host the meet-up event,</li>
					<li>I was the master-of-ceremonies for the meet-up events,</li>
					<li>I orchestrated the meet-up events,</li>
					<li>I <strong>networked</strong> with people who attened the meet-ups,</li>
					<li>I created (online and in-person) spaces for the community to form,</li>
					<li>I engaged in conversation with the community,</li>
					<li>I moderated online community spaces,</li>
					<li>I recruited co-organizers.</li>
				</ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Learn Data Science Meetup</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-03-03">March 2013</abbr>-<abbr class="dtend" title="2023-02">February 2023</abbr></h3>
				<h4 class="title summary">Organizer</h4>
			</div>
			<div class="description">
				<p>
					I founded what became the largest data science communities in westen Canada — the <strong>Learn Data Science Meetup</strong> and the <strong>Data Science Meetup</strong>.
				</p>
				<p>
					I served as organizer for a decade.
				</p>
				<p>
					Together with the <strong>Data Science Meetup</strong> and the <strong>Machine Learning Meetup</strong>, I helped turned all three, including the <strong>Learn Data Science Meetup</strong>, into the the largest communities for <strong>artificial intelligence</strong> (<strong><abbr title=">artificial intelligence">AI</abbr></strong>), <strong>data science</strong>, and <strong>machine learning</strong> in western Canada.
				</p>
				<p>
					As the <strong>organizer</strong> for the <strong>Learn Data Science Meetup</strong> —
				</p>
				<ul>
					<li>I <strong>organized meet-ups</strong>,</li>
					<li>I recruited people to create and give presentations,</li>
					<li>I helped (some) speakers develop their presentations for the meet-up,</li>
					<li>I formed relationships with organizations that could provide space for us to hold meet-ups,</li>
					<li>I scheduled meet-up events,</li>
					<li>I promoted meet-up events,</li>
					<li>I prepared the space that was used to host the meet-up event,</li>
					<li>I was the master-of-ceremonies for the meet-up events,</li>
					<li>I orchestrated the meet-up events,</li>
					<li>I <strong>networked</strong> with people who attened the meet-ups,</li>
					<li>I created (online and in-person) spaces for the community to form,</li>
					<li>I engaged in conversation with the community,</li>
					<li>I moderated online community spaces,</li>
					<li>I recruited co-organizers.</li>
				</ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Vancouver R User Group</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-04-03">April 2013</abbr>-<abbr class="dtend" title="2015-07-21">July 2015</abbr></h3>
				<h4 class="title summary">Co-Organizer</h4>
			</div>
			<div class="description">
				<p>
					The <strong>R programming language</strong> is a popular programming-language used for data-visualization, data-science, statistics, machine learning, and AI.
					The <strong>Vancouver R user group</strong> was the largest community in western Canada for the <strong>R programming language</strong>.
				</p>
				<p>
					I served as <strong>co-organizer</strong> for the <strong>Vancouver R user group</strong>.
				</p>
				<p>
					As a <strong>co-organizer</strong> for the <strong>Vancouver R user group</strong> —
				</p>
				<ul>
					<li>I <strong>organized meet-ups</strong>,</li>
					<li>I recruited people to create and give presentations,</li>
					<li>I helped (some) speakers develop their presentations for the meet-up,</li>
					<li>I formed relationships with organizations that could provide space for us to hold meet-ups,</li>
					<li>I scheduled meet-up events,</li>
					<li>I promoted meet-up events,</li>
					<li>I prepared the space that was used to host the meet-up event,</li>
					<li>I was the master-of-ceremonies for the meet-up events,</li>
					<li>I orchestrated the meet-up events,</li>
					<li>I <strong>networked</strong> with people who attened the meet-ups,</li>
					<li>I created (online and in-person) spaces for the community to form,</li>
					<li>I engaged in conversation with the community,</li>
					<li>I moderated online community spaces.</li>
				</ul>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
