<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Board &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="https://voxlabs.io/">VoxLabs</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2020-06">November 2020</abbr>-Present</h3>
				<h4 class="title summary">Chairman</h4>
			</div>
			<div class="description">
				<p>
					I serve as chairman of VoxLabs.
				</p>
				<p>
					VoxLabs is a collective of highly trained and experienced designers, developers, engineers, futurists, and researchers driven by a desire to push the boundaries of what is possible.
					The VoxLabs team takes a 360 degree approach towards conceptualizing, creating, and delivering digital products and experiences that help businesses create value and make a meaningful impact.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="https://openworm.org/">OpenWorm Foundation</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2018-09-01">November 2019</abbr>-Present</h3>
				<h4 class="title summary">Director Board of Directors</h4>
			</div>
			<div class="description">
				<p>
					I serve on the board of the OpenWorm project — an open science project dedicated to creating the first digital organism, a C. elegans nematode — which has applications towards both Computational Neuroscience as well as Artificial Intelligence (AI).
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Railtown Ventures</h2>
				<h3 class="when"><abbr class="dtstart" title="2018-09-01">September 2018</abbr>-Present</h3>
				<h4 class="title summary">Executive Chairman</h4>
			</div>
			<div class="description">
				<p>
					Railtown Ventures is a Canadian
					<em>incubator</em>,
					<em>venture builder</em>, and
					<em>venture lab</em>.
				</p>
				<p>
					Railtown's incubator helps new founders, and startup companies to develop into successful companies.
				</p>
				<p>
					Railtown's venture builder turns great ideas into commercially viable and profitable
					products, services, platforms, technologies, and companies.
				</p>
				<p>
					Railtown's venture lab works with entrepreneurs to develop and launch new products and turn ideas into profitable companies. We provide entrepreneurs with pre-vetted ideas, a plan for execution, guidance, mentoring, and advising. As well as helping find the right product-market fit.
				</p>
				<p>
					I founded Railtown Ventures, and originally operated it as Managing Director, and then General Partner, but later switched to the role of Executive Chairman.
				</p>
				<p>
					Railtown is focused on the commercialization of products, and technolgies in
					<em>FinTech</em>,
					<em>e-commerce</em>,
					<em>logistics</em>,
					<em>online video</em>,
					<em>artificial intelligence</em> (<em>AI</em>), and <em>machine learning</em>.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="http://modusworkflow.com/">Modus Workflow</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01-18">January 2018</abbr>-Present</h3>
				<h4 class="title summary">Member of the Board of Directors</h4>
			</div>
			<div class="description">
				<p>
					Modus provides the construction industry with a complete modern solution for managing construction projects and construction companies.
				</p>
				<p>
					I serve as a Member of the Board of Directors for Modus Workflow
					(in addition to having operated as Chief Technology Officer (<abbr title="Chief Technology Officer">CTO</abbr>)).
				</p>
				<p>
					I provided guidance for the overall process of creating a tech startup company.
				</p>
				<p>
					I provided guidance for the overall <em>product development</em> process.
				</p>
				<p>
					I provided guidance for the overall <em>corporate development</em> process.
				</p>
				<p>
					I provided guidance for the overall <em>fund raising</em> process.
				</p>
				<p>
					I provided couching
					in product development,
					in management, and
					skills useful for being an executive of a tech company.
				</p>
				<p>
					I worked with the CEO to raise funds for the company.
				</p>
				<p>
					And I managed the development of the technology for the Modus <em>Master Builder Suite</em>.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
