<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Developer &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://rail.town/">Railton Ventures</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01-13">2018</abbr>-Present</h3>
				<h4 class="title summary">Senior Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					At Railtown Ventures I worked across the many porfolio companies, in different industries and domains.
				</p>
				<p>
					I worked as a <strong>senior principal software engineer &amp; architect</strong> (in addition to my executive, product, and management duties).
				</p>
				<p>
					As a <strong>senior principal software engineer &amp; architect</strong> —
				</p>
				<p>
					I provivded the long-term <em>technical vision</em> for (some of the) products, software systems, technologies and infrastructure.
					Often this amounted to looking at our long term needs and deciding what should be done.
				</p>
				<p>
					I provided <em>technical oversight</em>.
				</p>
				<p>
					I dealt with <em>training</em>.
					This included training (some of the) newly hired software engineer (at various levels).
					This also including training (some of the) software engineers (at various levels) already on staff, when we needed them to become competent at a new skill.
				</p>
				<p>
					I dealt with <em>on-boarding</em>.
					This included creating and refining training materials for software engineers (at various levels).
					This also included identifying and filling in any gaps in the knowledge of the newly hired software engineer.
				</p>
				<p>
					I dealt with <em>hiring</em>.
					This included <em>interviewing</em> and <em>screening</em> software engineering an architect candidates.
					This also included training other people to learn how to <em>hire</em>, <em>interview</em>, and <em>screen</em>.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://shoutmap.com/">ShoutMap</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2011-07-15">2011</abbr>-<abbr class="dtend" title="2012-09">2012</abbr>, <abbr class="dtstart" title="2013-06-22">2013</abbr>-<abbr class="dtstart" title="2015-05-07">2015</abbr></h3>
				<h4><span class="title summary">Chief Software Architect</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					Provided the technical vision, technical oversight, system architect and software engineering leadership.
				</p>
				<p>
					ShoutMap is a
					Attention, Influence and Interest
					tool.
<!--
					a tool that can infer attention and interest of a person behind an online presence and digital identity.
-->
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://www.ea.com/">Electronic Arts</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2013-07-02">2013</abbr>-<abbr class="dtend" title="2014-11-11">2014</abbr></h3>
				<!-- <abbr class="dtend" title="2014-10-28">2014</abbr> -->
				<h4 class="title summary">Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					At Electronic Arts I worked on (and was one of the original founders of) one of the few <em>advanced development teams</em>.
				</p>
				<p>
					This <em>advanced development team</em> focused on creating
					reusable and often highly scalable technologies
					for web-based applications and in-game content,
					to be used by the various delivery teams.
				</p>
				<p>
					I also created a plan to move Electronic Arts to taking a data-driven and scientific approach
					to marketing, employing machine learning, statistics and data science.
				</p>
				<p>
					More concretely, on a day-to-day basis, my work experience was multifaceted.
					(Which fluctuated to some degree, as accommodations needed to be made when the company went through a number of reorganizations.)
					Overall, those facets of my day-to-day work experience is a follows.
				</p>
				<p>
					<em>Technical vision</em> was one of the facets of my day-to-day work experience.
					I provided the <em>long term vision</em> for (some of the) software systems, technologies and infrastructure.
					Often this amounted to looking at our long term needs and deciding <em>what</em> should be done.
				</p>
				<p>
					<em>System architecture</em> was another of the facets of my day-to-day work experience.
					Designing and architecting software systems.
					I am a fan of data-driven architecture; and continued using that technique at Electronic Arts.
					When the problem being solved warranted it,
					<abbr title="proof of concept">POC</abbr>s were created to validate alternate architectures, and choices between <abbr title="proof of concept">POC</abbr> were made based on data from simulations and production data.
					I also had the reified systems instrumented so that we could collect data, and make future architecture decisions based on data.
				</p>
				<p>
					<em>Software engineering</em> was another of the facets of my day-to-day work experience.
					Which included programming and writing code.
					I am not a fan of (what is sometimes called) "ivory tower architecture" and was adamant about not being one at Electronic Arts.
					I engineered and programmed many of the systems I architected.
				</p>
				<p>
					<em>Technical oversight</em> was another of the facets of my day-to-day work experience.
					I provided oversight and guidance to other software engineers and system architects,
					both in formal and informal settings.
					Reviewing (some amount of the) major designs and architecture decisions from engineers' &amp; architects' and providing feedback when needed;
					as well as helping to overcome architecture problems that may have been found in the review process.
					Some mentoring was also part of this facet.
					Also, another form of <em>technical oversight</em> was of technical systems and came from a more data-based sources;
					such as time series, tracing and logging data from our production system;
					which indicated architecture problems, and called for action (and sometimes planning) to deal with the discovered problem.
				</p>
				<p>
					<em>Hiring</em> was another of the facets of my day-to-day work experience.
					I was involved in (some amount of) the interviewing and screening of potential hires for software engineering and system architecture roles.
				</p>
				<p>
					(This was a 49 Research on-site long term contract, through Ignite Technical.)
				</p>
			</div>
		</section>


			<section class="experience vevent">
				<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://hootsuite.com/">HootSuite</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2011-05-09">2011</abbr>-<abbr class="dtend" title="2012-09">2012</abbr></h3>
				<h4><span class="title summary">Engineering Lead</span></h4>
			</div>
			<div class="description">
				<p>
					At HootSuite I operated as the Engineering Lead for the Analytics Team, and had senior roles on the App Directory Team, the Acquisitions Integrations Team, and the Web Team.
					My day-to-day responsibilities included software engineering,
					system architecture,
					research and development,
					technical oversight,
					onboarding new engineers,
					mentoring of (more) junior engineers,
					performing design reviews of other engineers' designs,
					performing code reviews on other engineers' code,
					knowledge transfer to new engineers,
					and ensuring, encouraging and enforcing the quality of engineering work of other engineers working on the Analytics Team, Acquisitions Integrations Team, and certain parts of the Web Team.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2><span class="org" itemprop="worksFor">Thirdi</span> (now owned by <a rel="nofollow" href="http://www.invokemedia.com/">Invoke</a>)</h2>
				<h3 class="when"><abbr class="dtstart" title="2008-07-28">2008</abbr>-<abbr class="dtend" title="2009-03-16">2009</abbr></h3>
				<h4 class="title summary">Senior Software Engineer</h4>
			</div>
			<div class="description">
				<p>
					I joined the Thirdi team as a <em>very</em> senior level software engineer who was able to take on projects and develop them to their completion.
					And introduced some aspects of an Agile development environment to the company.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://navarik.com/">Navarik</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2007-10-31">2007</abbr>-<abbr class="dtend" title="2008-05-30">2008</abbr></h3>
				<h4 class="title summary">Senior Software Engineer</h4>
			</div>
			<div class="description">
				<p>
					I joined the Navarik team to fill their need for a <em>very</em> senior level software engineer who could "hit the ground running", so to speak.
					And learn their system at a highly rapid pace, and start making major contributions to the system immediately.
					As a senior software engineer at Navarik, I worked on their flagship product -- Navarik Inspection.
					Developing the software while working with the team in a Agile environment.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2><span class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://topproducer.com/">Top Producer</a></span> (owned by <a rel="nofollow" href="http://www.move.com/">Move</a>)</h2>
				<h3 class="when"><abbr class="dtstart" title="2007-05">2007</abbr>-<abbr class="dtend" title="2007-10">2007</abbr></h3>
				<h4><span class="title summary">Senior Software Engineer</span> on Research &amp; Development Team</h4>
			</div>
			<div class="description">
				<p>
					As a senior software engineer on the research &amp; development team I researched, designed, and developed software and solutions for the Real Estate industry.
					This work included working on proprietary systems.
					As well as working on WordPress and WordPress MU (WPMU).
					And developing WordPress Plug-ins and WordPress Themes / Templates.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2><span class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://bidclix.com/">BidClix</a></span> (later owned by <a rel="nofollow" href="http://microsoft.com/">Microsoft</a>, and then <a rel="nofollow" href="http://facebook.com/">Facebook</a>)</h2>
				<h3 class="when"><abbr class="dtstart" title="2004-02">2004</abbr>-<abbr class="dtend" title="2007-05">2007</abbr></h3>
				<h4 class="title summary">Principal Software Engineer &amp; System Architect / Engineering Lead</h4>
			</div>
			<div class="description">
				<p>
					As the lead software engineer, I lead a team of software developers which created and maintained BidClix's in-house, proprietary, ad serving technology known as ActiveMarket. I also managed the work of artists and scripters. And was responsible for much of the Research &amp; Development.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">Reptile Consulting &amp; Services</h2>
				<h3 class="when"><span class="dtstart">2002</span>-<span class="dtend">2004</span></h3>
				<h4><span class="title summary">Senior Software Engineer</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					I designed, created, and operated bespoke software for the customers of Reptile Consulting &amp; Service.
				</p>
				<p>
					It was also necessary for me to "wear multiple hats" and do what is necessary to get things done, as the company was being grown.
					At times I also took on the roles of
					software engineer,
					director of technology,
					project manager,
					system administrator,
					tech support specialist,
					computer hardware specialist,
					and numerous other roles.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">iFusion Communications</h2>
				<h3 class="when"><span class="dtstart">2000</span>-<span class="dtend">2001</span></h3>
				<h4 class="title summary">Software Engineer &amp; Project Manager</h4>
			</div>
			<div class="description">
				<p>
					At iFusion I worked as a software engineer and a project manager.
				</p>
				<p>
					As a software engineer at iFusion, I designed, developed, and tested dynamic web sits & web applications. Including: bulletin boards, shopping cart systems, online stores, chat systems, administrative back-end systems, & news systems, among others.
				</p>
				<p>
					As a project manager at iFusion, I broke-down the work for projects, coordinated the tasks between the team members, and managed the work.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">BWD Local 300</h2>
				<h3 class="when"><span class="dtstart">1999</span>-<span class="dtend">2000</span></h3>
				<h4><span class="title summary">DevOps / System Administrator</span> (SysAdmin)</h4>
			</div>
			<div class="description">
				<p>
					An (on call) DevOps system administrator (sysadmin) and consultant for all the union hall's computer software and hardware systems.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
