<link rel="stylesheet" href="style/style.css" />
<div class="part" id="work_history_product">
	<h1>Product &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://49research.com/">49 Research</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2008-07-01">2008</abbr>-<abbr class="dtend" title="2011-05-08">2011</abbr></h3>
				<h4><span class="title summary">Director of Engineering and Product Development</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					I founded 49 Research, with another person.
					I took the role of Director of Engineering and Product Development.
					In this capacity, I managed resources including scheduling and hiring for the engineering group,
					initiated, lead and managed the new product development (NPD) initiatives,
					defined and documented department standards, provided technical oversight for projects,
					helped define technical specifications,
					provided scoping and estimation for project bids,
					while also participating in engineering work when time allowed.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">MakeWordpress.com</h2>
				<h3 class="when"><abbr class="dtstart" title="2007-06-14">2007</abbr>-<span class="dtend">2008</span></h3>
				<h4><span class="title summary">Product Manager</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					Back when blogging first went mainstream, "everyone" wanted to get into blogging.
					Today blogs and blogging are ubiquitous and banal.
					However, back then blogs were still a new technology.
				</p>
				<p>
					At the time, companies were just starting to get interested blogging
					and feel that it was important to have a coroprate blog.
					And many individuals saw opportunity with blogging.
				</p>
				<p>
					WordPress (a free and open source blogging platform) was in the right place
					at the right time, and became the <em>de facto standard</em> blogging software of the time.
					WordPress was what "everyone" used, when they wanted to set up their own blog.
				</p>
				<p>
					Companies who wanted to use WordPress either wanted to make WordPress look like their
					existing corporate websites or make it look like a PSD file they had an artist create.
				</p>
				<p>
					However, making WordPress look like their website (or the design in a PSD file) was difficult.
				</p>
				<p>
					That's where MakeWordpress.com came in.
					MakeWordpress.com took out the difficulty.
					MakeWordpress.com did all the hard work for the customer.
					MakeWordpress.com made Wordpress look how the customer wanted it to look.
				</p>
				<p>
					I was the lead product manager at MakeWordress.com
					where I managed all customer related and internal <em>product development</em> and <em>product marketing</em>.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
