<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Teacher &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="location url" rel="nofollow" href="http://kwantlen.ca/">Kwantlen Polytechnic University</a></h2>
				<h3 class="when"><span class="dtstart">1994</span>-<span class="dtend">1995</span></h3>
				<h4 class="title summary">Math Tutor</h4>
			</div>
			<div class="description">
				<p>
					Kwantlen Polytechnic University (<abbr title="Kwantlen Polytechnic University">KPU</abbr>) is a public degree-granting undergraduate polytechnic university in British Columbia, Canada.
					It has campuses located in multiple cities.
					And is one of the largest univesities in British Columbia when measured by enrolment.
				</p>
				<p>
					At Kwantlen College (now Kwantlen Polytechnic University) I worked as a <strong>math tutor</strong>.
				</p>
				<p>
					I primarily taught students in 1st and 2nd year <strong>mathematics</strong>,
					but also taught <strong>chemistry</strong>, and  <strong>physics</strong> when requested.
				</p>
			</div>
		</section>

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">[Self Employed Private Tutor]</h2>
				<h3 class="when"><span class="dtstart">1993</span>-<span class="dtend">1995</span></h3>
				<h4 class="title summary">Math Tutor</h4>
			</div>
			<div class="description">
				<p>
					I tutored students from 6th grade to 2nd year at University.
				</p>
				<p>
					I primarily taught <strong>mathematics</strong>,
					but also taught <strong>chemistry</strong>, <strong>physics</strong>, and general <strong>science</strong> when requested.
				</p>
				<p>
					(This was my first job.)
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
