<link rel="stylesheet" href="style/style.css" />
<div class="part" id="work_history_advisor">
	<h1>Manager &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="https://trulioo.com/">Trulioo</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2012-09">2012</abbr>-<abbr class="dtend" title="2013-06-21">2013</abbr></h3>
				<h4 class="title summary">Engineering Manager</h4>
			</div>
			<div class="description">
				<p>
					At Trulioo I headed the day-to-day activities of the software engineering and data science teams.
					I joined Trulioo while it was at an early phase of the startup lifecycle.
					(The engineering team consisted of just two people, when I joined Trulioo.)
					I hired most of the development team, which included software engineers and data scientists.
				</p>
				<p>
					Like with most startups, necessity requires you to "wear multiple hats" and do what is necessary to get things done.
					In addition to engineering management, I joined in on the
					software engineering,
					system architecture,
					operations,
					<abbr title="quality assurance">QA</abbr>,
					<abbr title="database administration">DBA</abbr>,
					and
					data science
					work, when necessary.
				</p>
				<p>
					My engineering management activities include
					project planning,
					project management,
					providing technical guidance for system architecture, software engineering &amp; data science efforts,
					creating functional requirements,
					establishing team processes,
					monitoring workflow,
					managing technical aspects of Trulioo's relations with its partners,
					and research and development.
				</p>
				<p>
					My engineering management activities also included
					establishing hiring plans,
					recruiting efforts,
					outreach to the universities,
					outreach via local conferences,
					and networking with local talent.
				</p>
				<p>
					Also I managed Trulioo's relationship with the National Research Council Canada for the iRAP program,
					writing <i>academic paper style</i> reports of Trulioo's research and development for the National Research Council Canada,
					and writing grant proposals for the Natural Sciences and Engineering Research Council of Canada's Engage Grant.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://49research.com/">49 Research</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2008-07-01">2008</abbr>-<abbr class="dtend" title="2011-05-08">2011</abbr></h3>
				<h4><span class="title summary">Director of Engineering and Product Development</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					I founded 49 Research, with another person.
					I took the role of Director of Engineering and Product Development.
					In this capacity, I managed resources including scheduling and hiring for the engineering group,
					initiated, lead and managed the new product development (NPD) initiatives,
					defined and documented department standards, provided technical oversight for projects,
					helped define technical specifications,
					provided scoping and estimation for project bids,
					while also participating in engineering work when time allowed.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">Reptile Consulting &amp; Services</h2>
				<h3 class="when"><span class="dtstart">2002</span>-<span class="dtend">2004</span></h3>
				<h4><span class="title summary">Director of Technology</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					I operated as Director of Technology for Reptile Consulting &amp; Services.
					The teams I managed consisted of
					software engineers,
					system administrators,
					and tech support specialists.
				</p>
				<p>
					It was also necessary for me to "wear multiple hats" and do what is necessary to get things done, as the company was being grown.
					At times I also took on the roles of
					software engineer,
					project manager,
					system administrator,
					tech support specialist,
					computer hardware specialist,
					and numerous other roles.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">iFusion Communications</h2>
				<h3 class="when"><span class="dtstart">2000</span>-<span class="dtend">2001</span></h3>
				<h4 class="title summary">Project Manager</h4>
			</div>
			<div class="description">
				<p>
					At iFusion I worked as a software engineer and a <strong>project manager</strong>.
				</p>
				<p>
					As a <strong>project manager</strong> at iFusion, I broke-down the work for projects, coordinated the tasks between the team members, and managed the work.
				</p>
				<p>
					As a software engineer at iFusion, I designed, developed, and tested dynamic web sits &amp; web applications.
					Including: bulletin boards, shopping cart systems, online stores, chat systems, administrative back-end systems, &amp; news systems, among others.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
