<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Teacher &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" rel="nofollow" href="http://kwantlen.ca/">Kwantlen College</a></h2>
				<h3 class="when"><span class="dtstart">1994</span>-<span class="dtend">1995</span></h3>
				<h4 class="title summary">Math Tutor</h4>
			</div>
			<div class="description">
				<p>
					A Math Tutor at Kwantlen College (which is now Kwantlen Polytechnic University).
					In addition to tutoring Math, I also tutored in Chemistry and Physics (when students asked for help in those topics).
				</p>
			</div>
		</section>

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">[Self Employed]</h2>
				<h3 class="when"><span class="dtstart">1993</span>-<span class="dtend">1995</span></h3>
				<h4 class="title summary">Math Tutor</h4>
			</div>
			<div class="description">
				<p>
					I privately tutored students in Mathematics (as well as Chemistry, Physics, and General Science).
					These students ranged from 6th grade to 2nd year at University.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
