<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Product &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">#SpaceHost</h2>
				<h3 class="when"><abbr class="dtstart" title="2022-04-11">2022</abbr>-<span class="dtend">Present</span></h3>
				<h4><span class="title summary">Senior Product Manager</span></h4>
			</div>
			<div class="description">
				<p>
					In a start-up environment, it is necessary to wear-many-hats simultaneously — #SpaceHost was no different.
					At #SpaceHost I worked as a <strong>senior product manager</strong> (in addition to my executive, and management roles & duties).
				</p>
				<p>
					#SpaceHost provides fully-managed hosting for the Fediverse.
					Including hosting popular Fediverse software, such as:
					Akkoma,
					Castopod,
					Firefish,
					Friendica,
					Gitea,
					Kbin,
					Lemmy,
					Mastodon,
					Owncast,
					PeerTube,
					Pixelfed,
					Pleroma,
					and more.
				</p>
				<p>
					I did the industrial research / product research.
					I provided the product vision.
					I created and maintained the product roadmap.
					I worked with and managed UX researchers, UI designers, illustrators, software engineers, QA specialists, operations specialists, marketers, and sales people.
					I organized the teams and the work.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">SparkScience</h2>
				<h3 class="when"><abbr class="dtstart" title="2019-12">2019</abbr>-<span class="dtend" title="2022-04-11">2022</span></h3>
				<h4><span class="title summary">Senior Product Manager</span></h4>
			</div>
			<div class="description">
				<p>
					I led product a SparkScience.
					I served as <strong>senior product manager</strong> for SparkScience.
				</p>
				<p>
					SparkScience developed video conferencing and video commerce software.
				</p>
				<p>
					I did the industrial research / product research.
					I provided the product vision.
					I created and maintained the product roadmap.
					I worked with and managed UX researchers, UI designers, illustrators, software engineers, QA specialists, operations specialists, marketers, and sales people.
					I organized the teams and the work.
				</p>
				<p>
					SparkScience was a portfolio company of Railtown Ventures.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">ShoutMap</h2>
				<h3 class="when"><abbr class="dtstart" title="2011-07-15">2011</abbr>-<abbr class="dtend" title="2012-09">2012</abbr></h3>
				<h4><span class="title summary">Product Manager</h4>
			</div>
			<div class="description">
				<p>
					ShoutMap was a marketing product focused on inferring attention, influence and interest.
					I was used to infer what the person behind a digital identity pay attention to, is interested in, and who directly or indirectly influences then.
                                </p>
                                <p>
					I did the industrial research / product research.
					I provided the product vision.
					I created and maintained the product roadmap.
                                </p>
                                <p>
					I founded ShoutMap, and served as its <strong>product manager</strong>.
                                </p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor"><a class="url" href="http://49research.com/">49 Research</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2008-07-01">2008</abbr>-<abbr class="dtend" title="2011-05-08">2011</abbr></h3>
				<h4><span class="title summary">Director of Engineering and Product Development</span></h4>
			</div>
			<div class="description">
				<p>
					I founded 49 Research, with another person.
					I took the role of Director of Engineering and Product Development.
					In this capacity, I managed resources including scheduling and hiring for the engineering group,
					initiated, lead and managed the new product development (NPD) initiatives,
					defined and documented department standards, provided technical oversight for projects,
					helped define technical specifications,
					provided scoping and estimation for project bids,
					while also participating in engineering work when time allowed.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor">MakeWordpress.com</h2>
				<h3 class="when"><abbr class="dtstart" title="2007-06-14">2007</abbr>-<span class="dtend">2008</span></h3>
				<h4><span class="title summary">Product Manager</span></h4>
			</div>
			<div class="description">
				<p>
					Back when blogging first went mainstream, "everyone" wanted to get into blogging.
					Today blogs and blogging are ubiquitous and banal.
					However, back then blogs were still a new technology.
				</p>
				<p>
					At the time, companies were just starting to get interested blogging
					and feel that it was important to have a coroprate blog.
					And many individuals saw opportunity with blogging.
				</p>
				<p>
					WordPress (a free and open source blogging platform) was in the right place
					at the right time, and became the <em>de facto standard</em> blogging software of the time.
					WordPress was what "everyone" used, when they wanted to set up their own blog.
				</p>
				<p>
					Companies who wanted to use WordPress either wanted to make WordPress look like their
					existing corporate websites or make it look like a PSD file they had an artist create.
				</p>
				<p>
					However, making WordPress look like their website (or the design in a PSD file) was difficult.
				</p>
				<p>
					That's where MakeWordpress.com came in.
					MakeWordpress.com took out the difficulty.
					MakeWordpress.com did all the hard work for the customer.
					MakeWordpress.com made Wordpress look how the customer wanted it to look.
				</p>
				<p>
					I founded MakeWordpress.com.
					I was the lead product manager at MakeWordress.com
					where I managed all customer related and internal <em>product development</em>.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
