<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Work History</h1>
	<p>
		I have experience along a number of different career tracks.
		Sometimes doing multiple of them simultaneously, when it was necessary.
	</p>
	<p>
		Each career track has been separated out into its own section.
	</p>
	<nav class="menu">
		<ul>
			<li>
				<a href="#work_history_developer">Developer</a>
			</li>
			<li>
				<a href="#work_history_manager">Manager</a>
			</li>
			<li>
				<a href="#work_history_teacher">Teacher</a>
			</li>
			<li>
				<a href="#work_history_organizer">Organizer</a>
			</li>
		</ul>
	</nav>
</div>
