<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>CTO &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">SparkScience</h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01-13">January 2018</abbr> - <abbr class="dtend" title="2019-11">November 2019</abbr></h3>
				<h4 class="title summary"><abbr title="Chief Technology Officer">CTO</abbr></h4>
			</div>
			<div class="description">
				<p>
					SparkScience developed a <strong>P2P</strong> <strong>video conferencing</strong> and <strong>video commerce</strong> software technology that worked in the web-browser by using <strong>WebRTC</strong>.
					The company later pivoted to the Fediverse (social-media network platform), and created an audio &amp; video conversation social-media networking platform for the Fediverse called GreatApe.
				</p>
				<p>
					As <strong>Chief Technology Officer</strong> (<strong><abbr title="Chief Technology Officer">CTO</abbr></strong>) of <strong>SparkScience</strong> I —
				</p>
				<ul>
					<li>helped SparkScience go from the market &amp; industrial research stage to startup with a product on the market,</li>
					<li>provided <strong>technical oversight</strong> for all products, technology, infrastructure, and people in the company,</li>
					<li>created the <strong>training</strong> and <strong>onboarding</strong> process for new hires,</li>
					<li><strong>recruited</strong> and <strong>hired</strong> the teams — which included software engineers, UX/UI designers, illustrators, and QA specialists,</li>
					<li><strong>trained</strong> new hires as part of their <strong>onboarding</strong> process,</li>
					<li><strong>led</strong> the team(s),</li>
					<li><strong>managed</strong> the team(s) on a day-to-day basis,</li>
					<li><strong>supervised</strong> software engineers, UX/UI designers, illustrators, and QA specialists,</li>
					<li>helped get our initial <strong>customers</strong>,</li>
					<li>talked to and helped manage the relationship with <strong>investors</strong>,</li>
					<li>became <strong>hands-on</strong> and <strong>designed</strong> and <strong>developed</strong> some of the software technology when necessary,</li>
					<li>eventually recruited my replacement and handed those responsibilities over to them over a number of months.</li>
				</ul>
				<p>
					<strong>SparkScience</strong> was a portfolio company of <strong>Railtown Ventures</strong>.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="http://modusworkflow.com/">Modus Workflow</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01-18">January 2018</abbr> - <abbr class="dtend" title="2021-07-28">July 2021</abbr></h3>
				<h4 class="title summary"><abbr title="Chief Technology Officer">CTO</abbr></h4>
			</div>
			<div class="description">
				<p>
					Modus provides the construction industry with a complete modern solution for managing construction projects and construction companies.
				</p>
				<p>
					At Modus I operate as Chief Technology Officer (CTO),
					and am a Member of the Board of Directors.
				</p>
				<p>
					I provided guidance for the overall process of creating a tech startup company.
				</p>
				<p>
					I provided guidance for the overall <em>product development</em> process.
				</p>
				<p>
					I provided guidance for the overall <em>corporate development</em> process.
				</p>
				<p>
					I provided guidance for the overall <em>fund raising</em> process.
				</p>
				<p>
					I provided couching
					in product development,
					in management, and
					skills useful for being an executive of a tech company.
				</p>
				<p>
					I worked with the CEO to raise funds for the company.
				</p>
				<p>
					And I managed the development of the technology for the Modus <em>Master Builder Suite</em>.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="http://www.koho.ca/">Koho</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2017-09-26">September 2017</abbr> - <abbr class="dtend" title="2018-01-12">January 2018</abbr></h3>
				<h4 class="title summary">Advisor (former <abbr title="Chief Technology Officer">CTO</abbr>)</h4>
			</div>
			<div class="description">
				<p>
					Koho Financial is a FinTech (Financial Technology) company, providing a modern mobile banking experience to Canadians.
				</p>
				<p>
					After my term as Koho's Chief Technology Officer (CTO), I stayed (as an employee) as an <em>advisor</em>,
					to make sure that the transition (from my term as CTO) to the new term of the replacement CTO went smoothly.
				</p>
				<p>
					I had a key role at Koho.
				</p>
				<p>
					I took the company from nothing, to having a working, functioning, scalable, and secure software technology system.
				</p>
				<p>
					I built out the company's technology, engineering, and product teams.
				</p>
				<p>
					I helped scale the company.
				</p>
				<p>
					A hand-off from something like that takes time.
				</p>
				<p>
					Due to all this — due to my role being so key — I offered a <em>"6 months notice"</em> period,
					to make sure the transition went smoothly.
				</p>
				<p>
					During the hand-off transition period,
					I made sure the company kept running,
					I transferred knowledge to the replacement,
					I transferred knowledge to the new hires,
					I transitioned control of the technical systems,
					I transitioned the partner relationships.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="http://www.koho.ca/">Koho</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2015-05-07">May 2015</abbr> - <abbr class="dtend" title="2017-09-25">September 2017</abbr></h3>
				<h4 class="title summary"><abbr title="Chief Technology Officer">CTO</abbr></h4>
			</div>
			<div class="description">
				<p>
					Koho Financial is a FinTech (Financial Technology) company, providing a modern mobile banking experience to Canadians.
				</p>
				<p>
					At Koho Financial I operated as Chief Technology Officer (CTO).
				</p>
				<p>
					I took the company from nothing, to having a working, functioning, scalable, and secure software technology system, to having a product launched in the market with customers.
				</p>
				<p>
					I built out the company's technology, engineering, and product teams.
				</p>
				<p>
					I helped scale the company.
				</p>
				<p>
					At different times, what it meant to be CTO of Koho changed.
				</p>
				<p>
					But it had always required a mix of skills; which includes:
					having a deep understanding of <em>the technical</em>, of <em>the product</em>, and of <em>people</em>.
				</p>
				<p>
					I joined Koho a little before we received any funding.
					I was the original technical person,
					and built the initial technology.
				</p>
				<p>
					When I was the only technical person at Koho, <strong>being CTO meant</strong> that I was a software engineer,
					an architect,
					a data scientist,
					a sysadmin, and
					a product developer.
				</p>
				<p>
					After Koho got funding, it gave us the ability to recruit and hire our first team.
					This included both software engineers and product developers / managers.
				</p>
				<p>
					When we started hiring our first team, <strong>being CTO meant</strong> I was a recruiter, a networker, and the public "face" of Koho to technical people.
				</p>
				<p>
					This team continued the software and product development, and created the initial versions of Koho.
				</p>
				<p>
					Once this <em>first team</em> was established, <strong>being CTO meant</strong> I was
					a Manager,
					a Lead,
					a mentor,
					a trainer,
					a Technical Director,
					and the Chief Architect.
				</p>
				<p>
					I helped junior and intermediate software engineers turn into senior software engineers.
					And set senior software engineers on the path to becoming leads, managers, and principal software engineers.
				</p>
				<p>
					I provided the technical vision.
				</p>
				<p>
					I provided oversight for everyone's work.
				</p>
				<p>
					Later, as the company grew and needed to scale, I created a number of new teams, each with their own mandates and responsibilities.
					And each with their own leads or managers.
				</p>
				<p>
					Once <em>multiple teams</em> were created, <strong>being CTO meant</strong> I was a Director, I was a Lead of other Leads, and a Manager of other Managers.
				</p>
				<p>
					Each time the company went through these qualitative changes, I hired others to do jobs I was previously doing myself.
				</p>
				<p>
					At different times, what it meant to be CTO of Koho changed,
					but it had always required a mix of skills.
					At different times, <strong>being CTO meant</strong>
					being a software manager,
					being a technical director,
					being a software engineer,
					being a software architect,
					being a product manager,
					being a sysadmin (operations / DevOps),
					being a data scientist,
					being a mentor,
					being a recruiter,
					and
					being a lead.
				</p>
				<p>
					I also helped Koho close their $42 million series B investment led by Power Corporation's Portag3 Ventures.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
