<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Work History</h1>
	<p>
		Charles has experience along a number of different career tracks.
		Sometimes doing multiple of them simultaneously, when it was necessary.
	</p>
	<p>
		Each career track has been separated out into its own section.
	</p>
	<nav class="menu">
		<ul>
			<li>
				<a href="#work_history_developer">Developer</a>
			</li>
			<li>
				<a href="#work_history_engineering_manager">Engineering Manager</a>
			</li>
			<li>
				<a href="#work_history_product">Product</a>
			</li>
			<li>
				<a href="#work_history_executive">Executive</a>
			</li>
			<li>
				<a href="#work_history_advisor">Advisor</a>
			</li>
			<li>
				<a href="#work_history_organizer">Organizer</a>
			</li>
		</ul>
	</nav>
</div>

<br /><br /><br /><br />
