<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Organizer &middot; Work History</h1>
	<div class="part-content">

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Machine Learning Meetup</h2>
				<h3 class="when"><abbr class="dtstart" title="2012-10-04">October 2012</abbr>-<abbr class="dtend" title="2023-02">February 2023</abbr></h3>
				<h4 class="title summary">Organizer</h4>
			</div>
			<div class="description">
				<p>
					The <strong>Machine Learning Meetup</strong> is a meetup group in the Vancouver area with a focus on <em>machine learning</em> and related <em>software engineering</em>, <em>computer science</em> and <em>data science</em> topics.
				</p>
				<p>
					I served as organizer for a decade.
				</p>
				<p>
					Together with the <strong>Data Science Meetup</strong> and the <strong>Learn Data Science Meetup</strong>, I helped turned all three, including the <strong>Machine Learning Meetup</strong>, into the the largest communities for <strong>artificial intelligence</strong> (<strong><abbr title=">artificial intelligence">AI</abbr></strong>), <strong>data science</strong>, and <strong>machine learning</strong> in western Canada.
				</p>
				<p>
					My organizing activities include,
					organizing and hosting meetings and presentations,
					arranging speakers for meetings,
					helping (some) speakers develop presentations for meetings,
					and
					networking.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Data Science Meetup</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-03-03">March 2013</abbr>-<abbr class="dtend" title="2023-02">February 2023</abbr></h3>
				<h4 class="title summary">Organizer</h4>
			</div>
			<div class="description">
				<p>
					I founded what became the largest data science communities in westen Canada — the <strong>Data Science Meetup</strong> and the <strong>Learn Data Science Meetup</strong>.
				</p>
				<p>
					I served as organizer for a decade.
				</p>
				<p>
					Together with the <strong>Learn Data Science Meetup</strong> and the <strong>Machine Learning Meetup</strong>, I helped turned all three, including the <strong>Data Science Meetup</strong>, into the the largest communities for <strong>artificial intelligence</strong> (<strong><abbr title=">artificial intelligence">AI</abbr></strong>), <strong>data science</strong>, and <strong>machine learning</strong> in western Canada.
				</p>
				<p>
					My organizing activities include,
					organizing and hosting meetings and presentations,
					arranging speakers for meetings,
					helping (some) speakers develop presentations for meetings,
					and
					networking.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Learn Data Science Meetup</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-03-03">March 2013</abbr>-<abbr class="dtend" title="2023-02">February 2023</abbr></h3>
				<h4 class="title summary">Organizer</h4>
			</div>
			<div class="description">
				<p>
					I founded what became the largest data science communities in westen Canada — the <strong>Learn Data Science Meetup</strong> and the <strong>Data Science Meetup</strong>.
				</p>
				<p>
					I served as organizer for a decade.
				</p>
				<p>
					Together with the <strong>Data Science Meetup</strong> and the <strong>Machine Learning Meetup</strong>, I helped turned all three, including the <strong>Learn Data Science Meetup</strong>, into the the largest communities for <strong>artificial intelligence</strong> (<strong><abbr title=">artificial intelligence">AI</abbr></strong>), <strong>data science</strong>, and <strong>machine learning</strong> in western Canada.
				</p>
				<p>
					My organizing activities include,
					organizing and hosting meetings and presentations,
					arranging speakers for meetings,
					helping (some) speakers develop presentations for meetings,
					and
					networking.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Vancouver R User Group</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-04-03">April 2013</abbr>-<abbr class="dtend" title="2015-07-21">July 2015</abbr></h3>
				<h4 class="title summary">Co-Organizer</h4>
			</div>
			<div class="description">
				<p>
					I served as co-organizer for the <strong>Vancouver R user group</strong>.
					The Vancouver R user group is a meetup group in the Vancouver area with a focus on the <strong>R statistical programming language</strong>.
				</p>
				<p>
					My co-organizing activities include,
					organizing and hosting meetings and presentations,
					arranging speakers for meetings,
					helping (some) speakers develop presentations for meetings,
					and
					networking.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
