<link rel="stylesheet" href="style/style.css" />

<section class="experience vevent">
	<div class="vcard">
		<h2 class="org" itemprop="worksFor" class="location">BWD Local 300</h2>
		<h3 class="when"><span class="dtstart">1999</span> - <span class="dtend">2000</span></h3>
		<h4><span class="title summary">DevOps / System Administrator</span> (SysAdmin)</h4>
	</div>
	<div class="description">
		<p>
			An (on call) DevOps system administrator (sysadmin) and consultant for all the union hall's computer software and hardware systems.
		</p>
	</div>
</section>
