<link rel="stylesheet" href="style/style.css" />
<div class="part" id="summary">
	<h1>Resume Summary</h1>
	<div class="part-content">
		<section>
			<p>
				A <strong>Solidity</strong> <strong>software developer</strong> with experience creating
				<strong>dapps</strong>,
				blockchain-based <strong>video games</strong>,
				<strong>DeFi</strong> applications,
				and
				<strong>SocialFi</strong> social-networking applications.
			</p>
		</section>
	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
