<link rel="stylesheet" href="style/style.css" />
<div class="part" id="summary">
	<h1>Resume Highlights</h1>
	<div class="part-content">
		<section>
			<h2>Accomplishments</h2>
			<ul>
				<li><strong>Electronic&nbsp;Arts</strong> (<strong><abbr title="Electronic Arts">EA</abbr></strong>) — created core <strong>backend</strong>, <strong>libraries</strong>, and <strong>platform technology</strong> for one of the largest video game companies in the world — 3 times.</li>
				<li><strong>Koho</strong> (<strong>bank</strong>) — created the <strong>backend</strong>, monitoring, and platform technology for Canada's first digital-first <strong>bank</strong> <em>from scratch</em>.</li>
				<li><strong>Ad Networks</strong> — created <em>the first</em> advertising network.</li>
				<li><strong>Facebook</strong>, <strong>Microsoft</strong>, <strong>Bell</strong>, etc — created the <strong>backend</strong>, frontend, and AI technology for 6 <strong>ad networks</strong>.</li>
				<li><strong>Hootsuite</strong> — created a large part of the early <strong>backend</strong>, and frontend technology for what was at one point the most popular <strong>Twitter</strong> application in the world.</li>
				<li><strong>AI</strong> — founded and (for a decade) led, what was at one time, the largest AI, machine learning, and data science community in western Canada.</li>
				<li><strong>Web</strong> — helped create the now ubiquitous HTML5 (under <strong>WHATWG</strong>, <strong>W3C</strong>); focused on bringing <strong><code>&lt;video&gt;</code></strong> to the Web.</li>
				<li><strong>Book</strong> — co-authored a book, for sofware engineers, about .NET and C#.</li>
				<li><strong><abbr title="Bachelor of Science">BSc</abbr></strong> with a formal background in <span class="standout">computer science</span> and <span class="standout">mathematics</span>.</li>
			</ul>
		</section>
	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
