<link rel="stylesheet" href="style/style.css" />
<div class="part" id="summary">
	<h1>Resume Highlights</h1>

	<div class="part-content">

		<html-include id="intro" title="section intro" src="partials/highlights/accomplishments.html"></html-include>

		<section>
			<table cellspacing="0" class="spreadsheet">
				<caption>Programming Languages</caption>
				<thead>
					<tr>
						<th class="skill-name">Skill Name</th>
						<th class="skill-level">Skill Level</th>
						<th class="last-used">Last Used</th>
						<th class="experience">Experience</th>
					</tr>
				</thead>
				<tbody>
					<tr class="fade">
						<td>C</td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used"><abbr title="last used on 2006">18 year ago</abbr></td>
						<td class="experience">10 &frac12; years</td>
					</tr>
					<tr class="fade">
						<td><a href="https://golang.org/">Go</a> (i.e., <a href="https://golang.org/">Golang</a>)</td>
						<td><strong>Expert</strong></td>
						<td class="last-used">Currently Used</td>
						<td class="experience"><abbr title="2013-03-13 to 2013-06-21, 2013-08-01 to 2013-10-15, 2014-09-08 to 2014-10-07, 2014-11-11 to 2015-02-17, 2015-05-07 to Present">10 years</abbr></td>
					</tr>
					<tr class="fade">
						<td>JavaScript</td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used">Currently Used</td>
						<td class="experience">26 &frac12; years</td>
					</tr>
					<tr class="fade">
						<td>PHP</td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used"><abbr title="last used on 2015">9 year ago</abbr></td>
						<td class="experience">15 &frac12; years</td>
					</tr>
					<tr class="fade">
						<td>Scala</td>
						<td>Former Intermediate</td>
						<td class="last-used"><abbr title="last used on 2015-05-20">9 year ago</abbr></td>
						<td class="experience"><abbr title="2012-05-04 to 2012-05-18, 2014-10-14 to 2015-05-20">1 year</abbr></td>
					</tr>
					<tr class="highlight">
						<td>Solidity</td>
						<td>Intermediate</td>
						<td class="last-used">Currently Used</td>
						<td class="experience"><abbr title="2018-01-12 to 2018-11-11, 2024-07-13 to Present">1 year</abbr></td>
					</tr>
				</tbody>
			</table>
		</section>


		<section>
			<table cellspacing="0" class="spreadsheet">
				<caption>Database Libraries &amp; Database Languages</caption>
				<thead>
					<tr>
						<th>Skill Name</th>
						<th>Skill Level</th>
						<th class="last-used">Last Used</th>
						<th class="experience">Experience</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="http://www.mongodb.org/">MongoDB</a></td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used"><abbr title="last used on 2013-06-21">11 years ago</abbr></td>
						<td class="experience"><abbr title="Since 2011-05-17 to 2013-06-21">2 year</abbr></td>
					</tr>
					<tr>
						<td>MySQL</td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used"><abbr title="last used on 2013-06-21">11 years ago</abbr></td>
						<td class="experience"><abbr title="Until 2013-06-21">13 &frac12; years</abbr></td>
					</tr>
					<tr class="highlight">
						<td><a href="http://www.postgresql.org/">Postgres</a></td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used">Currently Used</td>
						<td class="experience"><abbr title="Since 2009-09-03 to 2010-06-08, 2015-05-07 to Present">10 years</abbr></td>
					</tr>
					<tr class="highlight">
						<td>SQL</td>
						<td><strong>Expert</strong></td>
						<td class="last-used">Currently Used</td>
						<td class="experience">24 &frac12; years</td>
					</tr>
					<tr>
						<td><a href="https://www.sqlite.org/">SQLite</a></td>
						<td>Intermediate</td>
						<td class="last-used"><abbr title="used since 2023-09-14">Currently Used</abbr></td>
						<td class="experience"><abbr title="Since 2023-09-14">1 year</abbr></td>
					</tr>
				</tbody>
			</table>
		</section>


		<section>
			<table cellspacing="0" class="spreadsheet">
				<caption>Server Software Systems</caption>
				<thead>
					<tr>
						<th>Skill Name</th>
						<th>Skill Level</th>
						<th class="last-used">Last Used</th>
						<th class="experience">Experience</th>
					</tr>
				</thead>
				<tbody>
					<tr class="highlight">
						<td>Linux <sup><abbr title="Ubuntu, Elementary OS, Mint, Fedora, Red Hat, Mandrake, Slackware, etc">*</abbr></sup></td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used">Currently Used</td>
						<td class="experience"><abbr title="Since 1996">28 years</abbr> (since 1996)</td>
					</tr>
					<tr class="fade">
						<td>WordPress</td>
						<td>Former <strong>Expert</strong></td>
						<td class="last-used"><abbr title="last used on 2013-06-21">11 years ago</abbr></td>
						<td class="experience"><abbr title="Since 2007-05-16 to 2013-06-21">6 year</abbr></td>
					</tr>
				</tbody>
			</table>
		</section>


	</div> <!-- class="part-content" -->
</div> <!-- class="part" -->
