<link rel="stylesheet" href="style/style.css" />
<div class="part" id="work_history_advisor">
	<h1>Manager &middot; Work History</h1>
	<div class="part-content">



		<html-include id="manager-work_history-trulioo" title="work-history trulioo" src="partials/work_history/2012/09/trulioo.html"></html-include>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">49 Research</h2>
				<h3 class="when"><abbr class="dtstart" title="2008-07-01">2008</abbr> - <abbr class="dtend" title="2011-05-08">2011</abbr></h3>
				<h4><span class="title summary">Director of Engineering and Product Development</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					I founded 49 Research, with another person.
					I took the role of Director of Engineering and Product Development.
					In this capacity, I managed resources including scheduling and hiring for the engineering group,
					initiated, lead and managed the new product development (NPD) initiatives,
					defined and documented department standards, provided technical oversight for projects,
					helped define technical specifications,
					provided scoping and estimation for project bids,
					while also participating in engineering work when time allowed.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Reptile Consulting &amp; Services</h2>
				<h3 class="when"><span class="dtstart">2002</span> - <span class="dtend">2004</span></h3>
				<h4><span class="title summary">Director of Technology</span> / Founder</h4>
			</div>
			<div class="description">
				<p>
					I operated as Director of Technology for Reptile Consulting &amp; Services.
					The teams I managed consisted of
					software engineers,
					system administrators,
					and tech support specialists.
				</p>
				<p>
					It was also necessary for me to "wear multiple hats" and do what is necessary to get things done, as the company was being grown.
					At times I also took on the roles of
					software engineer,
					project manager,
					system administrator,
					tech support specialist,
					computer hardware specialist,
					and numerous other roles.
				</p>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">iFusion Communications</h2>
				<h3 class="when"><span class="dtstart">2000</span> - <span class="dtend">2001</span></h3>
				<h4 class="title summary">Project Manager</h4>
			</div>
			<div class="description">
				<p>
					iFusion was an early web-development company back when the web was still in its infancy.
					It created bespoke web-sites and web-applications for its customers.
					And developed its own web-based products and services.
				</p>
				<p>
					At iFusion I worked as a software engineer and a <strong>project manager</strong>.
				</p>
				<p>
					As a <strong>project manager</strong> at <strong>iFusion</strong> —
				</p>
				<ul>
					<li>I broke-down the work for projects,</li>
					<li>I coordinated the tasks between the team members, and,</li>
					<li>managed the work.</li>
				</ul>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
