<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Developer &middot; Work History</h1>
	<div class="part-content">

		<html-include id="intro" title="work-history robinfeed" src="partials/work_history/2024/08/robinfeed.html"></html-include>
		<html-include id="intro" title="work-history robinfeed" src="partials/work_history/2024/08/robinfeed.html"></html-include>

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Fork StakeWise (contract)</h2>
				<h3 class="when"><abbr class="dtstart" title="2024-08-26">August 2024</abbr> - Present</h3>
				<h4 class="title summary">Senior Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					Stakewise, a popular open-source Ethereum staking application — written primarily in the Solidity programming language.
				</p>
				<p>
					I was asked to fork StakeWise to other blockchain-networks (other than the Ethereum blockchain-network).
					I did this work using the Solidity programming language.
				</p>
				<ul>
					<li>
						Figured out how the StakeWise v3-core source-code worked.
						Both the contract and the deployment scripts.
					</li>
					<li>
						Wrote detailed developer documentation on how the StakeWise v3-core source-code works.
					</li>
					<li>
						The work was done using the <strong>Solidity</strong> <strong>programming language</strong>.
					</li>
				<ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">#SpaceHost</h2>
				<h3 class="when"><abbr class="dtstart" title="2022-11">November 2022</abbr> - Present</h3>
				<h4 class="title summary">Senior Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					#SpaceHost provides fully-managed hosting for the Fediverse.
					Including hosting popular Fediverse software, such as: Akkoma, Castopod, Firefish, Friendica, Gitea, Kbin, Lemmy, Mastodon, Owncast, PeerTube, Pixelfed, Pleroma, and more.
				</p>
				<p>
					As as a <strong>senior principal software engineer</strong> at <strong>#SpaceHost</strong> —
				</p>
				<ul>
					<li>
						I provided the long-term <strong>technical vision</strong> for products, software systems, technologies and infrastructure.
						Often this amounted to looking at our long term needs and deciding what should be done.
					</li>
					<li>
						I provided <strong>technical oversight</strong> and <strong>guidance</strong> to (some of the) other software engineers and system architects, both in formal and informal settings.
						Reviewing (some amount of the) major designs and architecture decisions from engineers' & architects' and providing feedback when needed; as well as helping to overcome architecture problems that may have been found in the review process.
						And providing <strong>mentoring</strong> when necessary.
					</li>
					<li>
						I dealt with <strong>training</strong>.
						This included training (some of the) newly hired software engineer (at various levels).
						This also included training (some of the) software engineers (at various levels) already on staff, when we needed them to become competent at a new skill.
					</li>
					<li>
						I dealt with <strong>on-boarding</strong>.
						This included creating and refining training materials for software engineers (at various levels).
						This also included identifying and filling in any gaps in the knowledge of the newly hired software engineer.
					</li>
					<li>
						I dealt with <strong>hiring</strong>.
						This included <em>interviewing</em> and <em>screening</em> software engineering an architect candidates.
						This also included training other people to learn how to <em>hire</em>, <em>interview</em>, and <em>screen</em>.
					</li>
					<li>
						I <strong>designed</strong> and <strong>build</strong> (some of the) applications and infrastructure related to the <strong>Fediverse</strong> and its protocol
						—
						<strong>acct-URI</strong>,
						<strong>ActivityPub</strong>,
						<strong>ActivityStreams</strong>,
						<strong>host-meta</strong>,
						<strong>mastodon-API (client-server)</strong>,
						<strong>WebFinger</strong>,
						etc.
					</li>
					<li>
						The work was done using the <strong>Go</strong> (i.e., <strong>Golang</strong>) <strong>programming language</strong> and <strong>Postgres</strong> database.
					</li>
				<ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Railtown Ventures</h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01-13">January 2018</abbr> - <abbr class="dtend" title="2022-11">October 2022</abbr></h3>
				<h4 class="title summary">Senior Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					In a start-up environment, it is necessary to wear-many-hats simultaneously — Railtown Ventures was no different. 
					At Railtown Ventures I worked as a <strong>senior principal software engineer &amp; architect</strong> (in addition to my executive, product, and management roles &amp; duties).
				</p>
				<p>
					Being able to learn &amp; adapt to any industry or domain was a necessary part of the role.
					At Railtown Ventures I worked across the many porfolio companies, which resulted in me working in a number of different industries and domains.
					Some of the different industries and domains I worked in includes —
					artificial intelligence (<abbr title="artificial intelligence">AI</abbr>),
					banking,
					business banking,
					charitable giving,
					commercial lending,
					consumer banking,
					content distribution,
					crowd funding,
					delivery,
					donations,
					e-commerce,
					eSports,
					fediverse,
					financial technology (<abbr title="financial technology">fintech</abbr>)
					fitness,
					hosting,
					internet,
					intranet,
					lending,
					live audio,
					live video,
					logistics,
					machine learning,
					online video,
					payments,
					philanthropy,
					private lending,
					real estate,
					social commerce,
					social sales,
					social web,
					social media,
					video commerce,
					video conferencing,
					and
					web.
				</p>
				<p>
					As a <strong>senior principal software engineer &amp; architect</strong> —
				</p>
				<ul>
					<li>
						I <strong>designed</strong> and <strong>built</strong> (some of the) core back-end &amp; system libraries and infrastructure.
						Most of this was done by <strong>programming</strong> in the <strong>Go programming language</strong> — although there was some JavaScript programming.
					</li>
					<li>
						I provided the long-term <strong>technical vision</strong> for (some of the) products, software systems, technologies and infrastructure.
						Often this amounted to looking at our long term needs and deciding what should be done.
					</li>
					<li>
						I provided <strong>technical oversight</strong> and <strong>guidance</strong> to (some of the) other software engineers and system architects, both in formal and informal settings.
						Reviewing (some amount of the) major designs and architecture decisions from engineers' & architects' and providing feedback when needed; as well as helping to overcome architecture problems that may have been found in the review process.
						And providing <strong>mentoring</strong> when necessary.
					</li>
					<li>
						I dealt with <strong>training</strong>.
						This included training (some of the) newly hired software engineer (at various levels).
						This also included training (some of the) software engineers (at various levels) already on staff, when we needed them to become competent at a new skill.
					</li>
					<li>
						I dealt with <strong>on-boarding</strong>.
						This included creating and refining training materials for software engineers (at various levels).
						This also included identifying and filling in any gaps in the knowledge of the newly hired software engineer.
					</li>
					<li>
						I dealt with <strong>hiring</strong>.
						This included <em>interviewing</em> and <em>screening</em> software engineering an architect candidates.
						This also included training other people to learn how to <em>hire</em>, <em>interview</em>, and <em>screen</em>.
					</li>
				</ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">ShoutMap</h2>
				<h3 class="when"><abbr class="dtstart" title="2013-06-22">June 2013</abbr> - <abbr class="dtstart" title="2015-05-07">May 2015</abbr></h3>
				<h4><span class="title summary">Chief Software Architect</span></h4>
			</div>
			<div class="description">
				<p>
					ShoutMap was a marketing product focused on inferring attention, influence and interest from social-media networks, mailing list, blogs, and other forms of online social presence.
					It was used to infer what the person behind a digital identity pay attention to, is interested in, and who directly or indirectly influences then.
				</p>
				<p>
					I founded ShoutMap, and (after doing the product work) served as its <strong>Chief Software Architect</strong>.
				</p>
				<p>
					As <strong>Chief Software Architect</strong> of <strong>ShoutMap</strong> I —
					providing the technical vision, technical oversight, system architect and software engineering leadership.
				</p>
				<ul>
					<li>provided the <strong>technical vision</strong>,</li>
					<li>provided <strong>technical oversight</strong> over the work being done,</li>
					<li>designed the <strong>system architecture,</strong>,</li>
					<li>provided the software engineering <strong>leadership</strong>, and</li>
					<li><strong>designed</strong> and <strong>built</strong> the core back-end &amp; system libraries and infrastructure using the <strong>Go</strong> programming language (<strong>Golang</strong>), the <strong>Postgres</strong> database server, as well as other technologies.</li>
				</ul>
			</div>
		</section>


		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location"><a class="url" href="http://www.ea.com/">Electronic Arts</a></h2>
				<h3 class="when"><abbr class="dtstart" title="2013-07-02">July 2013</abbr> - <abbr class="dtend" title="2014-11-11">November 2014</abbr></h3>
				<!-- <abbr class="dtend" title="2014-10-28">2014</abbr> -->
				<h4 class="title summary">Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					At Electronic Arts I worked on (and was one of the original founders of) one of the few <em>advanced development teams</em>.
				</p>
				<p>
					This <em>advanced development team</em> focused on creating
					reusable and often highly scalable technologies
					for web-based applications and in-game content,
					to be used by the various delivery teams.
				</p>
				<p>
					I also created a plan to move Electronic Arts to taking a data-driven and scientific approach
					to marketing, employing machine learning, statistics and data science.
				</p>
				<p>
					More concretely, on a day-to-day basis, my work experience was multifaceted.
					(Which fluctuated to some degree, as accommodations needed to be made when the company went through a number of reorganizations.)
					Overall, those facets of my day-to-day work experience is a follows.
				</p>
				<p>
					<em>Technical vision</em> was one of the facets of my day-to-day work experience.
					I provided the <em>long term vision</em> for (some of the) software systems, technologies and infrastructure.
					Often this amounted to looking at our long term needs and deciding <em>what</em> should be done.
				</p>
				<p>
					<em>System architecture</em> was another of the facets of my day-to-day work experience.
					Designing and architecting software systems.
					I am a fan of data-driven architecture; and continued using that technique at Electronic Arts.
					When the problem being solved warranted it,
					<abbr title="proof of concept">POC</abbr>s were created to validate alternate architectures, and choices between <abbr title="proof of concept">POC</abbr> were made based on data from simulations and production data.
					I also had the reified systems instrumented so that we could collect data, and make future architecture decisions based on data.
				</p>
				<p>
					<em>Software engineering</em> was another of the facets of my day-to-day work experience.
					Which included programming and writing code.
					I am not a fan of (what is sometimes called) "ivory tower architecture" and was adamant about not being one at Electronic Arts.
					I engineered and programmed many of the systems I architected.
				</p>
				<p>
					<em>Technical oversight</em> was another of the facets of my day-to-day work experience.
					I provided oversight and guidance to other software engineers and system architects,
					both in formal and informal settings.
					Reviewing (some amount of the) major designs and architecture decisions from engineers' &amp; architects' and providing feedback when needed;
					as well as helping to overcome architecture problems that may have been found in the review process.
					Some mentoring was also part of this facet.
					Also, another form of <em>technical oversight</em> was of technical systems and came from a more data-based sources;
					such as time series, tracing and logging data from our production system;
					which indicated architecture problems, and called for action (and sometimes planning) to deal with the discovered problem.
				</p>
				<p>
					<em>Hiring</em> was another of the facets of my day-to-day work experience.
					I was involved in (some amount of) the interviewing and screening of potential hires for software engineering and system architecture roles.
				</p>
				<p>
					(This was a 49 Research on-site long term contract, through Ignite Technical.)
				</p>
			</div>
		</section>


		<html-include id="intro" title="work-history hootsuite" src="partials/work_history/2011/05/hootsuite.html"></html-include>

		<html-include id="intro" title="work-history hootsuite" src="partials/work_history/2008/07/thirdi.html"></html-include>

		<html-include id="intro" title="work-history navarik" src="partials/work_history/2007/10/navarik.html"></html-include>

		<html-include id="intro" title="work-history top producer" src="partials/work_history/2007/05/top-producer.html"></html-include>

		<html-include id="intro" title="work-history bidclix" src="partials/work_history/2004/02/bidclix.html"></html-include>

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Reptile Consulting &amp; Services</h2>
				<h3 class="when"><span class="dtstart">2002</span> - <span class="dtend">2004</span></h3>
				<h4><span class="title summary">Senior Software Engineer</span></h4>
			</div>
			<div class="description">
				<p>
					At Reptile Consulting &amp; Services I worked as a <strong>senior software engineer</strong> (in addition to my management and executive roles &amp; duties).
				</p>
				<p>
					Reptile Consulting & Service was a computer and Internet consulting and services company. Although Reptile had customers in many industries, its specialized in the medical industry — in particular optometry and ophthalmology.
				</p>
				<p>
					I designed, created, and operated bespoke software for the customers of Reptile Consulting &amp; Services.
				</p>
				<p>
					It was also necessary for me to "wear multiple hats" and do what is necessary to get things done, as the company was being grown.
					At times I also took on the roles of
					software engineer,
					director of technology,
					project manager,
					system administrator,
					tech support specialist,
					computer hardware specialist,
					and numerous other roles.
				</p>
			</div>
		</section>

		<html-include id="ifusion" title="work-history ifusion" src="partials/work_history/2000/ifusion-developer.html"></html-include>

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">BWD Local 300</h2>
				<h3 class="when"><span class="dtstart">1999</span> - <span class="dtend">2000</span></h3>
				<h4><span class="title summary">DevOps / System Administrator</span> (SysAdmin)</h4>
			</div>
			<div class="description">
				<p>
					An (on call) DevOps system administrator (sysadmin) and consultant for all the union hall's computer software and hardware systems.
				</p>
			</div>
		</section>

	</div> <!-- class="part-content" -->
</div>
