<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<hgroup>
		<h1>PHP &middot; Work History</h1>
		<p>Roles where the <strong>PHP</strong> programming language was used.</h2>
	</hgroup>
	<div class="part-content">

		<html-include id="php-work_history-php_bluesky"     title="work-history php_bluesky"     src="partials/work_history/2024/07/php_bluesky.html"></html-include>
		<html-include id="php-work_history-opensocial"      title="work-history opensocial"      src="partials/work_history/2023/03/opensocial.html"></html-include>
		<html-include id="php-work_history-electronic_arts" title="work-history electronic arts" src="partials/work_history/2013/07/electronic_arts.html"></html-include>
		<html-include id="php-work_history-trulioo"         title="work-history trulioo"         src="partials/work_history/2012/09/trulioo/manager.html"></html-include>
		<html-include id="php-work_history-hootsuite"       title="work-history hootsuite"       src="partials/work_history/2011/05/hootsuite.html"></html-include>
		<html-include id="php-work_history-thirdi"          title="work-history thirdi"          src="partials/work_history/2008/07/thirdi.html"></html-include>
		<html-include id="php-work_history-navarik"         title="work-history navarik"         src="partials/work_history/2007/10/navarik.html"></html-include>
		<html-include id="php-work_history-make"            title="work-history make"            src="partials/work_history/2007/06/make/developer.html"></html-include>
		<html-include id="php-work_history-top_producer"    title="work-history top producer"    src="partials/work_history/2007/05/top-producer.html"></html-include>
		<html-include id="php-work_history-bidclix"         title="work-history bidclix"         src="partials/work_history/2004/02/bidclix.html"></html-include>
		<html-include id="php-work_history-reptile"         title="work-history reptile"         src="partials/work_history/2002/reptile-developer.html"></html-include>
		<html-include id="php-work_history-ifusion"         title="work-history ifusion"         src="partials/work_history/2000/ifusion-developer.html"></html-include>
		<html-include id="php-work_history-bwd"             title="work-history bwd"             src="partials/work_history/1999/bwd.html"></html-include>

	</div> <!-- class="part-content" -->
</div>
