<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<hgroup>
		<h1>Work History</h1>
		<p>Roles where the <strong>Go</strong> (i.e., <strong>Golang</strong>) or <strong>Solidity</strong> programming languages were used.</h2>
	</hgroup>
	<div class="part-content">

		<html-include id="blockchain-work_history-robinfeed"        title="work-history robinfeed"        src="partials/work_history/2024/08/robinfeed.html"></html-include>
		<html-include id="blockchain-social"                        title="work-history opensocial"       src="partials/work_history/2024/07/sol-social.html"></html-include>
		<html-include id="blockchain-work_history-farcaster_frames" title="work-history farcaster frames" src="partials/work_history/2024/02/frames.html"></html-include>
		<html-include id="blockchain-work_history-gemini"           title="work-history gemini"           src="partials/work_history/2021/08/gemini.html"></html-include>
		<html-include id="blockchain-work_history-koho"             title="work-history koho"             src="partials/work_history/2015/05/koho/developer.html"></html-include>
		<html-include id="blockchain-work_history-shoutmap"         title="work-history shoutmap"         src="partials/work_history/2013/06/shoutmap/developer.html"></html-include>
		<html-include id="blockchain-work_history-electronic_arts"  title="work-history electronic arts"  src="partials/work_history/2013/07/electronic_arts.html"></html-include>
		<html-include id="blockchain-work_history-trulioo"          title="work-history trulioo"          src="partials/work_history/2012/09/trulioo/developer.html"></html-include>

	</div> <!-- class="part-content" -->
</div>
