<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Senior Principal &middot; Work History</h1>
	<div class="part-content">

		<html-include id="work_history-spacehost"       title="work-history spacehost"       src="partials/work_history/2022/11/spacehost/senior-principal.html"></html-include>

		<section class="experience vevent">
			<div class="vcard">
				<h2 class="org" itemprop="worksFor" class="location">Railtown Ventures</h2>
				<h3 class="when"><abbr class="dtstart" title="2018-01-13">January 2018</abbr> - <abbr class="dtend" title="2022-11">October 2022</abbr></h3>
				<h4 class="title summary">Senior Principal Software Engineer &amp; Architect</h4>
			</div>
			<div class="description">
				<p>
					In a start-up environment, it is necessary to wear-many-hats simultaneously — Railtown Ventures was no different. 
					At Railtown Ventures I worked as a <strong>senior principal software engineer &amp; architect</strong> (in addition to my executive, product, and management roles &amp; duties).
				</p>
				<p>
					Being able to learn &amp; adapt to any industry or domain was a necessary part of the role.
					At Railtown Ventures I worked across the many porfolio companies, which resulted in me working in a number of different industries and domains.
					Some of the different industries and domains I worked in includes —
					artificial intelligence (<abbr title="artificial intelligence">AI</abbr>),
					banking,
					business banking,
					charitable giving,
					commercial lending,
					consumer banking,
					content distribution,
					crowd funding,
					delivery,
					donations,
					e-commerce,
					eSports,
					fediverse,
					financial technology (<abbr title="financial technology">fintech</abbr>)
					fitness,
					hosting,
					internet,
					intranet,
					lending,
					live audio,
					live video,
					logistics,
					machine learning,
					online video,
					payments,
					philanthropy,
					private lending,
					real estate,
					social commerce,
					social sales,
					social web,
					social media,
					video commerce,
					video conferencing,
					and
					web.
				</p>
				<p>
					As a <strong>senior principal software engineer &amp; architect</strong> —
				</p>
				<ul>
					<li>
						I <strong>designed</strong> and <strong>built</strong> (some of the) core back-end &amp; system libraries and infrastructure.
						Most of this was done by <strong>programming</strong> in the <strong>Go programming language</strong> — although there was some JavaScript programming.
					</li>
					<li>
						I provided the long-term <strong>technical vision</strong> for (some of the) products, software systems, technologies and infrastructure.
						Often this amounted to looking at our long term needs and deciding what should be done.
					</li>
					<li>
						I provided <strong>technical oversight</strong> and <strong>guidance</strong> to (some of the) other software engineers and system architects, both in formal and informal settings.
						Reviewing (some amount of the) major designs and architecture decisions from engineers' & architects' and providing feedback when needed; as well as helping to overcome architecture problems that may have been found in the review process.
						And providing <strong>mentoring</strong> when necessary.
					</li>
					<li>
						I dealt with <strong>training</strong>.
						This included training (some of the) newly hired software engineer (at various levels).
						This also included training (some of the) software engineers (at various levels) already on staff, when we needed them to become competent at a new skill.
					</li>
					<li>
						I dealt with <strong>on-boarding</strong>.
						This included creating and refining training materials for software engineers (at various levels).
						This also included identifying and filling in any gaps in the knowledge of the newly hired software engineer.
					</li>
					<li>
						I dealt with <strong>hiring</strong>.
						This included <em>interviewing</em> and <em>screening</em> software engineering an architect candidates.
						This also included training other people to learn how to <em>hire</em>, <em>interview</em>, and <em>screen</em>.
					</li>
				</ul>
			</div>
		</section>

		<html-include id="work_history-koho"            title="work-history koho"            src="partials/work_history/2015/05/koho/cto.html"></html-include>
		<html-include id="work_history-shoutmap"        title="work-history shoutmap"        src="partials/work_history/2013/06/shoutmap/developer.html"></html-include>
		<html-include id="work_history-electronic_arts" title="work-history electronic arts" src="partials/work_history/2013/07/electronic_arts.html"></html-include>

	</div> <!-- class="part-content" -->
</div>
