<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Senior Principal &middot; Work History</h1>
	<div class="part-content">

		<html-include id="work_history-spacehost"       title="work-history spacehost"       src="partials/work_history/2022/11/spacehost/senior-principal.html"></html-include>
		<html-include id="work_history-railtown"        title="work-history railtown"        src="partials/work_history/2018/01/senior-principal.html"></html-include>

	</div> <!-- class="part-content" -->
</div>
