<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Senior Principal Related &middot; Work History</h1>
	<div class="part-content">

		<html-include id="work_history-koho"            title="work-history koho"            src="partials/work_history/2015/05/koho/cto.html"></html-include>
		<html-include id="work_history-shoutmap"        title="work-history shoutmap"        src="partials/work_history/2013/06/shoutmap/developer.html"></html-include>
		<html-include id="work_history-electronic_arts" title="work-history electronic arts" src="partials/work_history/2013/07/electronic_arts.html"></html-include>
		<html-include id="work_history-trulioo"         title="work-history trulioo"         src="partials/work_history/2012/09/trulioo/manager.html"></html-include>
		<html-include id="work_history-hootsuite"       title="work-history hootsuite"       src="partials/work_history/2011/05/hootsuite.html"></html-include>

	</div> <!-- class="part-content" -->
</div>
