<link rel="stylesheet" href="style/style.css" />
<div class="part">
	<h1>Solidity &middot; Work History</h1>
	<div class="part-content">

		<html-include id="forked_stakewise" title="work-history robinfeed" src="partials/work_history/2024/08/forked_stakewise.html"></html-include>

		<html-include id="sol-social" title="work-history opensocial" src="partials/work_history/2024/07/sol-social.html"></html-include>

		<html-include id="blockchain-game-2018" title="work-history blockchain game (2018)" src="partials/work_history/2018/05/blockchain-game.html"></html-include>

	</div> <!-- class="part-content" -->
</div>
