<link rel="stylesheet" href="style/style.css" />

<section class="experience vevent">
	<div class="vcard">
		<h2 class="org" itemprop="worksFor" class="location">iFusion Communications</h2>
		<h3 class="when"><span class="dtstart">2000</span> - <span class="dtend">2001</span></h3>
		<h4 class="title summary">Software Engineer</h4>
	</div>
	<div class="description">
		<p>
			iFusion was an early web-development company back when the web was still in its infancy.
			It created bespoke web-sites and web-applications for its customers.
			And developed its own web-based products and services.
		</p>
		<p>
			At iFusion I worked as a <strong>software engineer</strong> and a project manager.
		</p>
		<p>
			As a <strong>software engineer</strong> at <strong>iFusion</strong> —
		</p>
		<ul>
			<li>I designed, developed, and tested dynamic web sites & web applications; including:
				<ul>
					<li>user systems,</li>
					<li>bulletin boards,</li>
					<li>shopping cart systems,</li>
					<li>online stores,</li>
					<li>chat systems,</li>
					<li>administrative back-end systems,</li>
					<li>news systems,</li>
					<li>among others.</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
