<link rel="stylesheet" href="style/style.css" />

<section class="experience vevent">
	<div class="vcard">
		<h2 class="org" itemprop="worksFor" class="location">Reptile Consulting &amp; Services</h2>
		<h3 class="when"><span class="dtstart">2002</span> - <span class="dtend">2004</span></h3>
		<h4><span class="title summary">Senior Software Engineer</span></h4>
	</div>
	<div class="description">
		<p>
			At Reptile Consulting &amp; Services I worked as a <strong>senior software engineer</strong> (in addition to my management and executive roles &amp; duties).
		</p>
		<p>
			Reptile Consulting & Service was a computer and Internet consulting and services company. Although Reptile had customers in many industries, its specialized in the medical industry — in particular optometry and ophthalmology.
		</p>
		<p>
			I designed, created, and operated bespoke software for the customers of Reptile Consulting &amp; Services.
		</p>
		<p>
			It was also necessary for me to "wear multiple hats" and do what is necessary to get things done, as the company was being grown.
			At times I also took on the roles of
			software engineer,
			director of technology,
			project manager,
			system administrator,
			tech support specialist,
			computer hardware specialist,
			and numerous other roles.
		</p>
	</div>
</section>
